{% extends "pos/base.html" %}
{% load static %}
{% block title %}Sale details{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block heading %}Sale ID: {{sale.id}}{% endblock heading %}


{% block content %}

<!--Go back-->
<div class="row ml-3 mb-3">
    <div>
        <a href="{% url 'sales:sales_list' %}">
            <button type="button" class="btn btn-success font-weight-bold">
                <i class="fas fa-long-arrow-alt-left mr-2"></i>
                Go back
            </button>
        </a>

    </div>
    <div class="ml-2">

        <button type="button" class="btn btn-info font-weight-bold" id="share_btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill"
                viewBox="0 0 16 16">
                <path
                    d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5">
                </path>
            </svg>
            Share
        </button>

    </div>
    <div class="ml-2">

        <button type="button" class="btn btn-info font-weight-bold" id="share_btn">
            <i class="fa fa-print"></i>
            Print
        </button>

    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModel" tabindex="-1" aria-labelledby="myModelLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModelLabel">Share Modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Share this link via</p>
                    <div class="d-flex align-items-center icons">
                        <a href="#" class="fs-5 d-flex align-items-center justify-content-center">
                            <span class="fab fa-facebook-f"></span>
                        </a>
                        <a href="#" class="fs-5 d-flex align-items-center justify-content-center">
                            <span class="fab fa-twitter"></span>
                        </a>
                        <a href="#" class="fs-5 d-flex align-items-center justify-content-center">
                            <span class="fab fa-instagram"></span>
                        </a>
                        <a href="#" class="fs-5 d-flex align-items-center justify-content-center">
                            <span class="fab fa-whatsapp"></span>
                        </a>
                        <a href="#" class="fs-5 d-flex align-items-center justify-content-center">
                            <span class="fab fa-telegram-plane"></span>
                        </a>
                    </div>
                    <p>Or copy link</p>
                    <div class="field d-flex align-items-center justify-content-between">
                        <span class="fas fa-link text-center"></span>
                        <input type="text" value="some.com/share">
                        <button>Copy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Sale products and details-->
<form action="{% url 'sales:sales_add' %}" class="saleForm" method="post">
    <div class="row mt-3 ml-3 mb-5">
        <div class="card col-md-12">
            <div class="card-body ml-0">
                <div class="row">
                    <!--Left column-->
                    <div class="col-md-9 pl-0">
                        <div class="card card-secondary">
                            <div class="card-header">Sale products</div>

                            <div class="card-body">
                                <!--Products table-->
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-hover text-nowrap" id="table_products">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for detail in details.items.all %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td>{{detail.product.name}}</td>
                                                <td>{{detail.product.price}}</td>
                                                <td class="text-center">{{detail.quantity}}</td>
                                                <td>{{detail.total}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!--End Products table-->
                            </div>
                        </div>
                    </div>
                    <!--End Left column-->

                    <!--Righ column-->
                    <div class="col-md-3 pr-0">
                        <div class="card card-secondary">
                            <div class="card-header">Sale details</div>
                            <div class="card-body">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="customer">Customer</label>
                                    <select name="customer" class="form-control" id="searchbox_customers" disabled
                                        readonly>
                                        <option value="{{sale.customer.id}}">{{sale.customer.get_full_name}}</option>
                                    </select>
                                    <div class="form-group mt-4">
                                        <label>Subtotal</label>
                                        <div class="input-group">
                                            <input name="sub_total" class="form-control" value="{{sale.sub_total}}"
                                                readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Tax Inclusive (%)</label>
                                        <div class="input-group">
                                            <input name="tax_percentage" class="form-control"
                                                value="{{sale.tax_percentage}}" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Tax Amount</label>
                                        <div class="input-group">
                                            <input name="tax_amount" class="form-control" value="{{sale.tax_amount}}"
                                                readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Grand Total</label>
                                        <div class="input-group">
                                            <input name="grand_total" class="form-control" value="{{sale.grand_total}}"
                                                readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Amount paid</label>
                                        <div class="input-group">
                                            <input name="amount_payed" class="form-control"
                                                value="{{sale.amount_payed}}" readonly>
                                        </div>
                                    </div>

                                </div>
                                <!--End card-body-->
                            </div>
                            <!--End Right column-->
                        </div>
                        <!--End row-->
                    </div>
                    <!--End card-body-->
                </div>

            </div>
        </div>
    </div>
</form>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Datatables -->


<script>



    tblProducts = $('#table_products').DataTable({
    });
    $(document).ready(function () {
        $('#share_btn').click(function () {
            $('#myModel').modal('show');
        });
    });

</script>
{% endblock javascripts %}