{% extends "pos/base.html" %}
{% load static %}
{% block title %}
Sales
{% endblock title %}
{% block heading %}
Sales
{% endblock heading %}

{% block content %}
<div class="ml-2 mb-3">
    <a href="{% url 'sales:sales_add' %}">
        <button type="button" class="btn btn-success font-weight-bold">
            <i class="ti ti-plus mr-2"></i>
            Create new sale
        </button>
    </a>
</div>

<div class="card shadow ml-2">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="dataTable" style="width: 100%;">
                <thead>
                    <tr>

                        <th>#</th>
                        <th>Customer</th>
                        <th>Total</th>
                        <th>Items</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in sales %}
                    <tr>

                        <td>
                            <a href="{% url 'sales:sales_details' s.sale.id %}" class="text-decoration-none">
                                {{s.sale.id}}
                            </a>
                        </td>

                        <td>{{s.sale.customer.get_full_name}}</td>
                        <td>{{s.get_grand_total}}</td>
                        <td>{{s.get_products_count}}</td>
                        <td>{{s.sale.date_added}}</td>
                        <td>
                            <!--Print receipt-->
                            <a href="{% url 'sales:sales_receipt_pdf' s.sale.id %}" class="text-decoration-none">
                                <button type="button" class="btn btn-dark btn-sm" data-bs-toggle="tooltip"
                                    title="View Receipt">
                                    <i class="ti ti-receipt"></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        let tblCategories = $('#dataTable').DataTable({

        });
    });
</script>
{% endblock content %}