{% extends "pos/base.html" %}
{% load static %}
<!-- Page title  -->
{% block title %}Add sale{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- Datatables -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css ' %}" rel="stylesheet">
<!--Select2 CSS-->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@1.5.2/dist/select2-bootstrap4.min.css">
<!--Bootstrap Touchspin-->
<link rel="stylesheet" href="{% static 'assets/bootstrap-touchspin-master/src/jquery.bootstrap-touchspin.css' %}">
{% endblock stylesheets %}

<!-- Page Heading -->
{% block heading %}Add sale{% endblock heading %}

<!-- Page content  -->
{% block content %}
<!--Go back-->
<div class="row ml-0 mb-3">
    <a href="{% url 'sales:sales_list' %}">
        <button type="button" class="btn btn-info font-weight-bold">
            <i class="fas fa-long-arrow-alt-left mr-2"></i>
            Go back
        </button>
    </a>
</div>

<!--Sale products and details-->
<form action="{% url 'sales:sales_add' %}" class="saleForm" method="post">
    <div class="row mt-3">
        <div class="card col-md-12">
            <div class="card-body ml-0">
                <div class="row">
                    <!--Left column-->
                    <div class="col-md-9 pl-0">
                        <div class="card card-secondary">
                            <div class="card-header">Sale products</div>

                            <div class="card-body">
                                <!--Search product-->
                                <div class="form-group">
                                    <label>Search product</label>
                                    <div class="input-group">
                                        <div class="form-outline">
                                            <input type="search" id="form1" class="form-control" />

                                        </div>
                                        <button type="button" class="btn btn-primary ml-2">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                                <!--End Search product-->
                                <div id="search_results"></div>
                                <!--Delete all products from sale-->
                                <button type="button" class="mb-4 btn btn-danger btn-sm deleteAll">
                                    Delete all products <i class="ml-1 fas fa-trash-alt fa-xs"></i>
                                </button>
                                <!--End Delete all products from sale-->

                                <!--Products table-->
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-hover text-nowrap" id="table_products">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                                <th class="text-center">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <!--End Products table-->
                            </div>
                        </div>
                    </div>
                    <!--End Left column-->

                    <!--Righ column-->
                    <div class="col-md-3 pr-0">
                        <div class="card card-secondary">
                            <div class="card-header">Sale details</div>
                            <div class="card-body">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="customer">Customer</label>
                                    <select name="customer" class="form-control" id="searchbox_customers" required>
                                        <option value="" selected disabled hidden>Select the customer</option>
                                        {% for customer in customers %}
                                        <option value="{{customer.value}}">{{customer.label}}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="form-group mt-4">
                                        <label>Subtotal</label>
                                        <div class="input-group">
                                            <input name="sub_total" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Tax Inclusive (%)</label>
                                        <div class="input-group">
                                            <input name="tax_percentage" class="form-control" value=0 required
                                                id="tax_percentage">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Tax Amount</label>
                                        <div class="input-group">
                                            <input name="tax_amount" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Grand Total</label>
                                        <div class="input-group">
                                            <input name="grand_total" class="form-control" id="grand_total" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Amount paid</label>
                                        <div class="input-group">
                                            <input name="amount_payed" class="form-control" required id="amount_paid">
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-success font-weight-bold">Create sale</button>
                                </div>
                                <!--End card-body-->
                            </div>
                            <!--End Right column-->
                        </div>
                        <!--End row-->
                    </div>
                    <!--End card-body-->
                </div>

            </div>
        </div>
    </div>
</form>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Datatables -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<!--Select2-->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" defer></script>
<!--Bootstrap Touchspin-->
<script src="{% static 'assets/bootstrap-touchspin-master/src/jquery.bootstrap-touchspin.js' %}"></script>
<!--Sweet Alert-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.15/dist/sweetalert2.all.min.js"></script>

<script>
    $('#tax_percentage').on('change', function () {
        updateTotal();
    });
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    // To avoid error 403 Fordbidden
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });





    let shoppingCart = (function () {
        let cart = [];

        // Constructor
        function Item(name, price, count, id) {
            this.name = name;
            this.price = price;
            this.count = count;
            this.id = id;
        }

        // Save cart
        function saveCart() {
            sessionStorage.setItem("shoppingCart", JSON.stringify(cart));
        }

        // Load cart
        function loadCart() {
            cart = JSON.parse(sessionStorage.getItem("shoppingCart"));
        }
        if (sessionStorage.getItem("shoppingCart") != null) {
            loadCart();
        }

        let obj = {};

        // Add to cart
        obj.addItemToCart = function (name, price, count, id) {
            for (let item in cart) {
                if (cart[item].name === name) {
                    cart[item].count++;
                    saveCart();
                    return;
                }
            }
            let item = new Item(name, price, count, id);
            cart.push(item);
            saveCart();
        };
        // Set count from item
        obj.setCountForItem = function (name, count) {
            for (let i in cart) {
                if (cart[i].name === name) {
                    cart[i].count = count;
                    break;
                }
            }
            saveCart();
        };
        // Remove item from cart
        obj.removeItemFromCart = function (name) {
            for (let item in cart) {
                if (cart[item].name === name) {
                    cart[item].count--;
                    if (cart[item].count === 0) {
                        cart.splice(item, 1);
                    }
                    break;
                }
            }
            saveCart();
        };

        // Remove all items from cart
        obj.removeItemFromCartAll = function (name) {
            for (let item in cart) {
                if (cart[item].name === name) {
                    cart.splice(item, 1);
                    break;
                }
            }
            saveCart();
        };

        // Clear cart
        obj.clearCart = function () {
            cart = [];
            saveCart();
        };

        // Count cart
        obj.totalCount = function () {
            let totalCount = 0;
            for (let item in cart) {
                totalCount += cart[item].count;
            }
            return totalCount;
        };

        // Total cart
        obj.totalCart = function () {
            let totalCart = 0;
            for (let item in cart) {
                totalCart += cart[item].price * cart[item].count;
            }
            return Number(totalCart.toFixed(2));
        };

        // List cart
        obj.listCart = function () {
            let products = [];
            for (let i in JSON.parse(sessionStorage.getItem("shoppingCart"))) {
                let item = cart[i];
                let product = {
                    id: item.id,
                    name: item.name,
                    price: item.price,
                    count: item.count,
                    total: (item.price * item.count).toFixed(2)
                };
                products.push(product);
            }
            return products;
        };


        return obj;
    })();

    function updateTotal() {
        var total = shoppingCart.totalCart();
        $('#grand_total').val(total);
        $('[name="sub_total"]').val(total);
        $('[name="tax_amount"]').val(total * $('[name="tax_percentage"]').val() / 100);
        $('#amount_paid').val(total);
    }

    var table = $('#table_products tbody');



    function displayCart() {
        updateTotal();
        var cartArray = shoppingCart.listCart();
        var output = "";
        for (var i in cartArray) {
            output += "<tr>"
                + "<td>" + cartArray[i].id + "</td>"
                + "<td>" + cartArray[i].name + "</td>"
                + "<td>" + cartArray[i].price + "</td>"
                + "<td><input type='number' class='item-count' data-name='" + cartArray[i].name + "' value='" + cartArray[i].count + "'></td>"
                + "<td>" + cartArray[i].total + "</td>"
                + "<td><button class='delete-item btn btn-danger btn-sm' data-name='" + cartArray[i].name + "'><i class='fa fa-trash-alt'></i></button></td>"
                + "</tr>";
        }
        var body = $('#table_products tbody');
        body.html(output);
        $('.item-count').on('change', function () {
            var name = $(this).attr("data-name");
            var count = Number($(this).val());
            if (count < 1) {
                shoppingCart.removeItemFromCartAll(name);
                displayCart();
            }

            shoppingCart.setCountForItem(name, count);
            displayCart();

        });
        $('.delete-item').on('click', function () {
            var name = $(this).attr("data-name");
            shoppingCart.removeItemFromCartAll(name);

            displayCart();
        });
    }

    displayCart();


    $('#form1').on('keyup', function () {

        var query = $(this).val();
        if (query.length === 0) {
            $('#search_results').html('');
        }
        if (query.length > 0) {
            $.ajax({
                url: "{% url 'products:get_products' %}",
                type: "POST",
                data: {
                    'term': query
                },
                success: function (data) {
                    // results card
                    if (data.length < 1) {
                        $('#search_results').html('<div class="alert alert-warning">No products found</div>');
                    }
                    else {
                        for (var i = 0; i < data.slice(0, 3).length; i++) {
                            $('#search_results').html(
                                `<div class="card card-secondary mt-2 mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">${data[i].name}</h5>
                                    <p class="card-text">Price: ${data[i].price}</p>
                                    <button type="button" class="btn btn-primary addProduct" data-id="${data[i].id}" data-name="${data[i].name}" data-price="${data[i].price}" onclick="shoppingCart.addItemToCart('${data[i].name}',${data[i].price}, ${1}, ${data[i].id});$('#search_results').html('');displayCart();">
                                        Add product
                                    </button>
                                </div>
                            </div>`
                            );
                        }
                    }
                }
            });
        }
    });

    $('.deleteAll').on('click', function () {
        shoppingCart.clearCart();
        displayCart();
    });
    $('.saleForm').on('submit', function (e) {
        e.preventDefault();
        var customer = $('[name="customer"]').val();
        var sub_total = $('[name="sub_total"]').val();
        var tax_percentage = $('[name="tax_percentage"]').val();
        var tax_amount = $('[name="tax_amount"]').val();
        var grand_total = $('[name="grand_total"]').val();
        var amount_payed = $('[name="amount_payed"]').val();
        var products = shoppingCart.listCart();
        for (let x in products) {
            products[x].id = parseInt(products[x].id);
            products[x].price = parseFloat(products[x].price);
            products[x].count = parseInt(products[x].count);
            products[x].total = parseFloat(products[x].total);
            // add a total_product field
            products[x].total_product = products[x].count * products[x].price;
        }
        console.log(products);
        var amount_change = amount_payed - grand_total;
        if (amount_change < 0) {
            Swal.fire({
                title: 'Error',
                text: 'The amount payed is less than the grand total',
                icon: 'error',
                confirmButtonText: 'Ok'
            });
            return;
        }
        $.ajax({
            url: "{% url 'sales:sales_add' %}",
            type: "POST",
            data: JSON.stringify({
                'customer': customer,
                'sub_total': sub_total,
                'tax_percentage': tax_percentage,
                'tax_amount': tax_amount,
                'grand_total': grand_total,
                'amount_payed': amount_payed,
                'amount_change': amount_change,
                'products': products,

            }),
            success: function (data) {
                Swal.fire({
                    title: 'Sale created',
                    text: 'The sale has been created successfully',
                    icon: 'success',
                    confirmButtonText: 'Great',
                    position: 'bottom-end'
                }).then((result) => {
                    if (result.isConfirmed) {
                        shoppingCart.clearCart();
                        displayCart();

                        location.reload();
                    }
                });
            },
            error: function (data) {
                Swal.fire({
                    title: 'Error',
                    text: 'An error has occurred',
                    icon: 'error',
                    confirmButtonText: 'Ok'
                });
            }
        });
    });
</script>
{% endblock javascripts %}