{% extends "pos/base.html" %}
{% load static %}
{% block title %}Add sale{% endblock title %}
{% block heading %}Add sale{% endblock heading %}


{% block content %}

<div class="ml-2 mb-3">
    <a href="{% url 'sales:sales_list' %}">
        <button type="button" class="btn btn-primary font-weight-bold">
            <i class="ti ti-arrow-left"></i>
            Go back
        </button>
    </a>
</div>



<form action="{% url 'sales:sales_add' %}" class="saleForm ml-2" method="post">

    <div class="card col-md-12">
        <div class="card-body ml-0">
            <div id="result">

            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="card card-secondary">
                        <div class="card-header">Sale details</div>
                        <div class="card-body">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="customer">Customer</label>
                                <select name="customer" class="form-control" id="searchbox_customers" required>
                                    <option value="" selected disabled hidden>Select the customer</option>
                                    {% for customer in customers %}
                                    <option value="{{customer.value}}">{{customer.label}}</option>
                                    {% endfor %}
                                </select>
                                <div class="form-group mt-4">
                                    <label>Subtotal</label>
                                    <div class="input-group">
                                        <input name="sub_total" class="form-control" required id="sub_total">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Tax Inclusive (%)</label>
                                    <div class="input-group">
                                        <input name="tax_percentage" class="form-control" value=0 required
                                            id="tax_percentage">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Tax Amount</label>
                                    <div class="input-group">
                                        <input name="tax_amount" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Grand Total</label>
                                    <div class="input-group">
                                        <input name="grand_total" class="form-control" id="grand_total" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Amount paid</label>
                                    <div class="input-group">
                                        <input name="amount_payed" class="form-control" required id="amount_paid">
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success font-weight-bold" id="submit_btn">Create
                                    sale</button>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="col-md-7">
                    <div class="card card-secondary">
                        <div class="card-header">Sale products</div>

                        <div class="card-body">

                            <div class="form-group">
                                <label>Search products</label>
                                <div class="input-group">
                                    <div class="form-outline">
                                        <input type="search" id="form1" class="form-control"
                                            placeholder="Product Name" />

                                    </div>

                                </div>
                            </div>

                            <div id="search_results"></div>

                            <button type="button" class="mb-4 btn btn-danger btn-sm deleteAll">
                                Delete all products <i class="ml-1 ti ti-trash"></i>
                            </button>



                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap" id="table_products">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th class="text-center">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</form>
<script src="{% static 'utils/cart.js' %}"></script>
<script>
    function updateTotal() {
        var total = shoppingCart.totalCart();
        $('#grand_total').val(total);
        $('[name="sub_total"]').val(total);
        $('[name="tax_amount"]').val(total * $('[name="tax_percentage"]').val() / 100);
        $('#amount_paid').val(total);
    }

    function displayCart() {
        updateTotal();
        var cartArray = shoppingCart.listCart();
        var output = "";
        for (var i in cartArray) {
            output += "<tr>"
                + "<td>" + cartArray[i].id + "</td>"
                + "<td>" + cartArray[i].name + "</td>"
                + "<td>" + cartArray[i].price + "</td>"
                + "<td><input type='number' class='item-count form-control' data-name='" + cartArray[i].name + "' value='" + cartArray[i].count + "'></td>"
                + "<td>" + cartArray[i].total + "</td>"
                + "<td><button class='delete-item btn btn-danger btn-sm' data-name='" + cartArray[i].name + "'><i class='ti ti-trash'></i></button></td>"
                + "</tr>";
        }
        var body = $('#table_products tbody');
        body.html(output);
        $('.item-count').on('change', function () {
            var name = $(this).attr("data-name");
            var count = Number($(this).val());
            if (count < 1) {
                shoppingCart.removeItemFromCartAll(name);
                displayCart();
            }

            shoppingCart.setCountForItem(name, count);
            displayCart();

        });
        $('.delete-item').on('click', function () {
            var name = $(this).attr("data-name");
            shoppingCart.removeItemFromCartAll(name);

            displayCart();
        });
    }
    $(document).ready(function () {
        $('#tax_percentage').on('change', function () {
            updateTotal();
        });




        var table = $('#table_products tbody');




        displayCart();

        $('#form1').on('keyup', function () {


            var query = $(this).val();
            if (query.length === 0) {
                $('#search_results').html('');
            }
            if (query.length > 0) {
                $.ajax({
                    url: "{% url 'products:get_products' %}" + `?term=${query}`,
                    type: "GET",
                    headers: {
                        "X-CSRFToken": $('input[name="csrfmiddlewaretoken"]').val()
                    },
                    success: function (data) {
                        // results card
                        if (data.length < 1) {
                            $('#search_results').html('<div class="alert alert-warning">No products found</div>');
                        }
                        else {
                            for (var i = 0; i < data.slice(0, 3).length; i++) {
                                $('#search_results').html(
                                    `<div class="card card-secondary mt-2 mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">${data[i].name}</h5>
                                    <p class="card-text">Price: ${data[i].price}</p>
                                    <button type="button" class="btn btn-primary addProduct" data-id="${data[i].id}" data-name="${data[i].name}" data-price="${data[i].price}" onclick="shoppingCart.addItemToCart('${data[i].name}',${data[i].price}, ${1}, ${data[i].id});$('#search_results').html('');displayCart();">
                                        Add product
                                    </button>
                                </div>
                            </div>`
                                );
                            }
                        }
                    }
                });
            }
        });

        $('.deleteAll').on('click', function () {
            shoppingCart.clearCart();
            displayCart();
        });
        $('.saleForm').on('submit', function (e) {
            e.preventDefault();
            var customer = $('[name="customer"]').val();
            var sub_total = $('[name="sub_total"]').val();
            var tax_percentage = $('[name="tax_percentage"]').val();
            var tax_amount = $('[name="tax_amount"]').val();
            var grand_total = $('[name="grand_total"]').val();
            var amount_payed = $('[name="amount_payed"]').val();
            var products = shoppingCart.listCart();
            for (let x in products) {
                products[x].id = parseInt(products[x].id);
                products[x].price = parseFloat(products[x].price);
                products[x].count = parseInt(products[x].count);
                products[x].total = parseFloat(products[x].total);
                products[x].total_product = products[x].count * products[x].price;
            }

            var amount_change = amount_payed - grand_total;
            if (amount_change < 0) {
                Swal.fire({
                    title: 'Error',
                    text: 'The amount payed is less than the grand total',
                    icon: 'error',
                    confirmButtonText: 'Ok'
                });
                return;
            }
            $('#submit_btn').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Creating...')
            $.ajax({
                url: "{% url 'sales:sales_add' %}",
                type: "POST",
                data: JSON.stringify({
                    'customer': customer,
                    'sub_total': sub_total,
                    'tax_percentage': tax_percentage,
                    'tax_amount': tax_amount,
                    'grand_total': grand_total,
                    'amount_payed': amount_payed,
                    'amount_change': amount_change,
                    'products': products,

                }),
                success: function (data) {
                    // clear cart
                    shoppingCart.clearCart()
                    if (data.status === "success") {
                        // sale added successfully
                        $('#result').html(
                            `<div class="alert alert-success alert-dismissible fade show" role="alert">${data.message}<a href="/sales/pdf/${data.sale_id}"><button type="button" class="btn btn-link"><span aria-hidden="true"> Print Invoice</a></span></button><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>`
                        )
                    }
                    else if (data.status === "error") {
                        // error, such as less stock
                        $('#result').html(
                            `<div class="alert alert-danger alert-dismissible fade show" role="alert">${data.message}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>`
                        )
                    }
                    else {
                        // unknown error, such as network error
                        $('#result').html('<div class="alert alert-danger alert-dismissible fade show" role="alert">Unknown error occurred<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
                    }

                    displayCart()

                },
                headers: {
                    "X-CSRFToken": $('input[name="csrfmiddlewaretoken"]').val()

                },
                error: function (data) {
                    $('#result').html('<div class="alert alert-danger alert-dismissible fade show" role="alert">Unknown error occurred<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');


                }
            }).done(function () {
                $('#submit_btn').html("Create Sale")
            });
        });
    })
</script>
{% endblock content %}