{% extends "pos/base.html" %} {% load static %}
{% block title %}Stock{% endblock title %}
{% block heading %}Stock{%endblock heading %}
{% block content %}

<div class="ml-2 mb-3">
    <div class="btn-group">
        <a href="{% url 'inventory:inventory_add' %}" class="btn btn-success font-weight-bold">
            <i class="ti ti-plus"></i>
            Add Stock
        </a>
        <a href="{% url 'inventory:inventory_add' %}" class="btn btn-secondary font-weight-bold">
            <i class="ti ti-transfer-out"></i>
            Stock Transfer
        </a>
    </div>
</div>


<div class="card shadow ml-2">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th>Stock ID</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invent in inventory %}
                    <tr>
                        <th>{{ invent.id }}</th>
                        <td>{{ invent.product.name }}</td>
                        <td>{{ invent.quantity }}</td>
                        <td>
                            <div class="btn-group">
                                <a href="{% url 'inventory:update_inventory' inventory_id=invent.id %}"
                                    class="text-decoration-none btn btn-warning btn-sm" data-bs-toggle="tooltip"
                                    title="Update Stock">

                                    <i class="ti ti-pencil"></i>

                                </a>
                                <a class="text-decoration-none btn btn-danger btn-sm" data-bs-toggle="tooltip"
                                    title="Delete Stock">

                                    <i class="ti ti-trash"></i>

                                </a>
                            </div>
                        </td>

                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        let tblProducts = $('#dataTable').DataTable({
            dom: 'Bfrtip',

            "lengthMenu": [
                [5, 10, 25, 50, -1],
                [5, 10, 25, 50, "All"]
            ],
            "pageLength": 10,

            "buttons": [
                {
                    extend: 'print',
                    text: 'Print <i class="fas fa-file ml-2"></i>',
                    titleAttr: 'Print',
                    className: 'btn btn-info',
                    exportOptions: {
                        columns: [0, 1, 2]
                    }
                },
                {
                    extend: 'excelHtml5',
                    text: 'Download Excel <i class="fas fa-file-excel ml-2"></i>',
                    titleAttr: 'Download Excel',
                    className: 'btn btn-success ml-2',
                    exportOptions: {
                        columns: [0, 1, 2]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    text: 'Download PDF <i class="fas fa-file-pdf ml-2"></i>',
                    titleAttr: 'Download PDF',
                    className: 'btn btn-danger ml-2',
                    download: 'open',
                    orientation: 'vertical',
                    pageSize: 'A4',
                    title: '*',
                    exportOptions: {
                        columns: [0, 1, 2]
                    },
                    customize: function (doc) {
                        doc.styles = {
                            header: {
                                fontSize: 18,
                                bold: true,
                                alignment: 'center'
                            },
                            subheader: {
                                fontSize: 13,
                                bold: true
                            },
                            quote: {
                                italics: true
                            },
                            small: {
                                fontSize: 8
                            },
                            tableHeader: {
                                bold: true,
                                fontSize: 11,
                                color: 'white',
                                fillColor: '#2d4154',
                                alignment: 'center'
                            }
                        };
                        doc.content[1].table.widths = ['10%', '10%', '30%', '30%', '20%'];
                        doc.content[1].margin = [0, 35, 0, 0];
                        doc.content[1].layout = {};
                        doc['footer'] = (function (page, pages) {
                            return {
                                columns: [
                                    {
                                        alignment: 'left',
                                        text: ['Creation date: ', { text: moment().format('MM-DD-YYYY (HH:mm:ss)') }]
                                    },
                                    {
                                        alignment: 'right',
                                        text: ['page ', { text: page.toString() }, ' of ', { text: pages.toString() }]
                                    }
                                ],
                                margin: 20
                            }
                        });

                    }
                }
            ],
            "columnDefs": [{
                "targets": 3,
                "orderable": false
            }],

        });

    });

</script>
{%endblock content%}