{% extends "pos/base.html" %}
{% load static %}
<!-- Page title  -->
{% block title %}Inventory{% endblock title %}

<!-- Specific Page CSS goes HERE 
{% block stylesheets %}
<!-- Datatables -->
<!-- <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css ' %}" rel="stylesheet">
<link href="{% static 'css/pagination_buttons.css ' %}" rel="stylesheet">
{% endblock stylesheets %} --> -->

<!-- Page Heading -->
{% block heading %}Inventory{% endblock heading %}

<!-- Page content  -->
{% block content %}
<h6>Inventory management</h6>
{%endblock content%}