{% extends "pos/base.html" %} {% load static %}
<!-- Page title  -->
{% block title %}Inventory{% endblock title %} 
{% block heading %}Inventory{%endblock heading %}

<!-- Page content  -->
{% block content %}
    <div class="row ml-0 mb-3">
        <a href="{% url 'inventory:inventory_add' %}">
            <button type="button" class="btn btn-success font-weight-bold">
                    <i class="fas fa-plus mr-2"></i>
                    Add Inventory
            </button>
        </a>
    </div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Inventory ID</th>
        <th scope="col">Product</th>
      <th scope="col">Quantity</th>
        <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
{% for invent in inventory %}
        <tr>
      <th scope="row">{{ invent.id }}</th>
      <td>{{ invent.product.name }}</td>
      <td>{{ invent.quantity }}</td>
      <td>                                <!--Update-->
                                <a href="" class="text-decoration-none">
                                    <button  type="button" class="btn btn-warning btn-sm" data-bs-toggle="tooltip" title="Update Inventory">
                                        <i class="fas fa-pen"></i>
                                    </button>
                                </a>
                                <!--Delete modal-->
                                <!-- Button trigger modal -->
                                <a class="text-decoration-none">
                                    <button type="button" class="btn btn-danger btn-sm">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </a></td>
        <td></td>
    </tr>

  {% endfor %}
  </tbody>
</table>

{%endblock content%}
