{% extends 'pos/base.html' %}
{% load static %}

{% block title %}Inventory{% endblock title %}
{% block heading %}{{ inventory.product.name }} {%endblock heading %}


{% block content %}

<div class="ml-2 mb-3">
    <a href="{% url 'inventory:inventory_index' %}" class="btn btn-primary font-weight-bold">
        <i class="ti ti-arrow-left"></i>
        Go back
    </a>
</div>

<div class="card ml-2">
    <div class="card-body">

        <form action="/inventory/api/{{ inventory.id }}/" method="post" id="update_form">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-12">
                    <label for="inputDescription">Product</label>
                    <select id="inputDescription" class="form-select" disabled>
                        <option value="{{ inventory.id }}" class="">{{ inventory.product.name }}</option>
                    </select>
                </div>
                <div class="form-group col-12">
                    <label for="inputr">Quantity</label>
                    <input type="text" class="form-control" name="quantity" value="{{inventory.quantity}}" required
                        id="inputr">
                </div>
            </div>
            <button id="update" class="btn btn-success font-weight-bold mb-3" type="submit">Update stock</button>
        </form>



    </div>
</div>


<script>

    let actionUrl = "/inventory/api/{{ inventory.id }}/";
    let btn = $('#update');

    $('#update_form').submit(function (e) {

        e.preventDefault();
        $.ajax({
            type: 'PATCH',
            url: actionUrl,
            headers: {
                "X-CSRFToken": '{{ csrf_token }}'

            },
            data: {
                "quantity": $('#inputr').val()
            },
            beforeSend: function () {
                btn.html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Updating...`);
            
            },
            success: function (resp) {
                toastr.success('Inventory updated successfully!', 'Success', {
                    timeOut: 3000,
                    closeButton: true,
                    progressBar: true
                });

            },
            error: function (
                xhr, status, error
            ) {
                toastr.error('Error updating product: ' + xhr.responseJSON.error, 'Error', {
                    timeOut: 3000,
                    closeButton: true,
                    progressBar: true
                });
            },


        }).done(function () {
            $('#update').html('Update Inventory');
        })
    })

</script>

{% endblock content %}