{% extends 'pos/base.html' %}
{% load static %}
<!-- Page title  -->
{% block title %}Inventory{% endblock title %}
{% block heading %}Update inventory for <p class="text-body">{{ inventory.product.name }} </p>{%endblock heading %}



<!-- Page content  -->
{% block content %}


<!--Go back-->
<div class="row ml-0 mb-3">
    <a href="{% url 'inventory:inventory_index' %}">
        <button type="button" class="btn btn-success font-weight-bold">
            <i class="fas fa-long-arrow-alt-left mr-2"></i>
            Go back
        </button>
    </a>
    <div class="col">
        <div class="col-8 mt-4" id="status_msg"></div>

        <div class="col-5"></div>
    </div>

    <div class="col-md-12 mt-2">
        <div class="card col-md-10">
            <div class="card-body">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="inputDescription">Product</label>
                        <select id="inputDescription" class="form-select" disabled>
                            <option value="{{ inventory.id }}" class="">{{ inventory.product.name }}</option>
                        </select>
                    </div>
                    <div class="form-group col-12">
                        <label for="inputr">Quantity</label>
                        <input type="text" class="form-control" name="quantity" value="{{inventory.quantity}}" required
                            id="inputr">
                    </div>
                </div>




                <button id="update" class="btn btn-success font-weight-bold mb-3">Update inventory</button>

            </div>
        </div>
    </div>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;


        }
        let btn = document.getElementById('update');
        let quantity = document.getElementById('inputr');
        btn.addEventListener("click", async ev => {
            let response = await fetch('{% url 'inventory: update_inventory' inventory_id=inventory.id  %}',
                {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": getCookie('csrftoken'),

                    },
                    body: JSON.stringify({ "quantity": quantity.value })
                }
            );
            let body = await response.json();

            if (body['status'] === 'fail') {
                let msg_div = document.getElementById('status_msg');
                msg_div.innerHTML = `<div class="mt-3 col"><div id="message_js" class="alert alert-danger alert-dismissible fade-show" role="alert">
        An error occurred while updating that Inventory. Please try again
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div></div>`

            }
            else if (body['status'] === 'success') {
                let msg_div = document.getElementById('status_msg');

                msg_div.innerHTML = `<div class="mt-3col"><div id="message_js" class="alert alert-success alert-dismissible fade-show" role="alert">
       Inventory updated successfully.
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div></div>`

            }


        })
    </script>
</div>
{% endblock content %}