{%extends 'pos/base.html'%}
{% load static %}
{% block title %}Suppliers{% endblock %}
{%block heading%}Suppliers{%endblock%}
{% block content %}
<div class="mb-3">
    <a href="{%url 'pos:index'%}">
        <button type="button" class="btn btn-primary font-weight-bold">
            <i class="ti ti-arrow-left"></i>
            Back
        </button>
    </a>
    <a href="{%url 'suppliers:new'%}">
        <button type="button" class="btn btn-success font-weight-bold" id="open_add_supplier_modal">
            <i class="ti ti-plus mr-2"></i>
            Add Supplier
        </button>
    </a>
</div>

{% if suppliers %}
<div class="card">
    <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary">
            Suppliers
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th>Supplier Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>KRA PIN</th>
                        <th>Branch</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for supplier in suppliers %}
                    <tr>
                        <td>{{supplier.name}}</td>
                        <td>{{supplier.phone}}</td>
                        <td>{{supplier.email}}</td>
                        <td>{{supplier.kra_pin}}</td>
                        <td>{{supplier.branch}}</td>

                        <td>
                            <a class="btn btn-primary btn-sm">
                                <i class="ti ti-edit"></i>
                            </a>
                            <a class="btn btn-danger btn-sm">
                                <i class="ti ti-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-info">
    No suppliers found
</div>
{% endif %}


<script>
    $(document).ready(function () {
        let tblCategories = $('#dataTable').DataTable({})
    })
</script>

{%endblock content%}