{%extends 'pos/base.html'%}
{% load static %}
{% block title %}Suppliers{% endblock %}
{%block heading%}Suppliers{%endblock%}
{% block content %}
<div class="mb-3">
    <a href="{%url 'pos:index'%}">
        <button type="button" class="btn btn-primary font-weight-bold">
            <i class="fas fa-long-arrow-alt-left mr-2"></i>
            Back
        </button>
    </a>
    <a href="{%url 'suppliers:new'%}">
        <button type="button" class="btn btn-success font-weight-bold" id="open_add_supplier_modal">
            <i class="fas fa-plus mr-2"></i>
            Add Supplier
        </button>
    </a>
</div>
<!--Back and add suuplier buttons-both are responsive-->
<div class="row ml-0 mb-3">

    <!--Table for suppliers-->
    {% if suppliers %}
    <div class="card">
        <div class="card-header">
            <p>Suppliers</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="dataTable">
                    <thead>
                        <tr>
                            <th>Supplier Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>KRA PIN</th>
                            <th>Branch</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for supplier in suppliers %}
                        <tr>
                            <td>{{supplier.name}}</td>
                            <td>{{supplier.phone}}</td>
                            <td>{{supplier.email}}</td>
                            <td>{{supplier.kra_pin}}</td>
                            <td>{{supplier.branch}}</td>

                            <td>
                                <a class="btn btn-primary btn-sm">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %}
    <div class="alert alert-info">
        No suppliers found
    </div>
    {% endif %}

    <script>
        $(document).ready(function () {
            let tblCategories = $('#dataTable').DataTable({})
        })
    </script>

    {%endblock content%}