{% extends "pos/base.html" %}
{%load static%}
{% block title %}Add category{% endblock title %}
{% block stylesheets %}{% endblock stylesheets %}
{% block heading %}Add category{% endblock heading %}
{% block content %}

<div class="mb-3 ml-3">
    <a href="{% url 'products:categories_list' %}">
        <button type="button" class="btn btn-success font-weight-bold">
            <i class="ti ti-arrow-left"></i>
            Go back
        </button>
    </a>
</div>



<div class="card col-md-11 ml-3">
    <div class="card-body">
        <div class="row text-center">
            <div class="col-md-4"></div>

            <div class="update_msg col-md-4"></div>
            <div class="col-md-4"></div>
        </div>

        <form action="{% url 'products:categories_add' %}" method="post" id="category_form">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Drinks..." required id="name" />
                </div>
                <div class="form-group col-md-4">
                    <label for="status">State</label>
                    <select name="state" class="form-control" required id="status">
                        {% for status in category_status %}
                        <option value="{{status.0}}">{{status.1}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="description">Description</label>
                    <input type="text" name="description" class="form-control" placeholder="Drinks and beverages.."
                        required id="description" />
                </div>
            </div>

            <button type="submit" class="btn btn-success font-weight-bold" id="create_btn">
                Create category
            </button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#category_form").submit(function (e) {
            const form = $(this);
            e.preventDefault();
            let description = $("#description").val();
            let status = $("#status").val();
            let name = $("#name").val();
            let action = form.attr("action");


            $("#create_btn").html(
                '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Creating...'
            );
            $.ajax({
                type: "POST",
                url: action,
                processData: false,
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                    "Content-Type": "application/json",
                },
                data: JSON.stringify(
                    {
                        "description": description,
                        "status": status,
                        "name": name,
                    }
                ),
                success: function (data) {
                    if (data.status === "success") {
                        $(".update_msg").html(
                            `<div class="alert alert-success alert-dismissible fade show" role="alert"><strong>Success!</strong> ${data.message}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>`
                        );
                    } else if ((data.status === "error")) {
                        $(".update_msg").html(
                            `<div class="alert alert-danger alert-dismissible fade show" role="alert"><strong>Error!</strong> ${data.message}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>`
                        );
                    } else {
                        $(".update_msg").html(
                            `<div class="alert alert-danger alert-dismissible fade show" role="alert"><strong>Error!</strong>An unknown error occurred, please try again.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>`
                        );
                    }
                },
                error: function () {

                    $(".update_msg").html(
                        `<div class="alert alert-danger alert-dismissible fade show" role="alert"><strong>Error!</strong>An unknown error occurred, please try again.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>`
                    );
                },
            }).done(function () {
                $("#create_btn").html("Create category");
            });
        });
    });
</script>
{% endblock content %}