{% extends "pos/base.html" %}



{% block title %}Add category{% endblock title %}
{% block stylesheets %}{% endblock stylesheets %}
{% block heading %}Add category{% endblock heading %}


{% block content %}

<div class="row ml-0 mb-3 ml-2">
    <a href="{% url 'products:categories_list' %}">
        <button type="button" class="btn btn-success font-weight-bold">
            <i class="fas fa-long-arrow-alt-left mr-2"></i>
            Go back
        </button>
    </a>
</div>

<div class="row text-center">
    <div class="col-md-4"></div>

    <div class="update_msg col-md-4"></div>
    <div class="col-md-4"></div>

</div>


<div class="row mb-5 ml-2">
    <div class="card col-md-10">
        <div class="card-body">
            <form action="{% url 'products:categories_add' %}" method="post" id="category_form">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="inputDescription">Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Drinks..." required id="name">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="state">State</label>
                        <select name="state" class="form-control" required id="status">
                            {% for status in category_status %}
                            <option value="{{status.0}}">{{status.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputDescription">Description</label>
                        <input type="text" name="description" class="form-control" placeholder="Drinks and beverages.."
                            required id="description">
                    </div>
                </div>

                <button type="submit" class="btn btn-success font-weight-bold" id="create_btn">Create category</button>

            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $('#category_form').submit(function (e) {
            var form = $(this)
            e.preventDefault()
            let description = $('#description').val()
            let status = $('#status').val()
            let name = $('#name').val()
            let action = form.attr('action')

            let data = {
                description: description,
                status: status,
                name: name

            };
            $('#create_btn').html(
                '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Updating...'
            )
            $.ajax({
                type: "POST",
                url: action,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: JSON.stringify(data),
                success: function (data) {
                    if (data.status == 'success') {



                        $('.update_msg').html(
                            `<div class="alert alert-success alert-dismissible fade show" role="alert"><strong>Success!</strong> ${data.message}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>`
                        );


                    } else if (data.status = "error") {

                        $('.update_msg').html(
                            `<div class="alert alert-danger alert-dismissible fade show" role="alert"><strong>Error!</strong> ${data.message}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>`
                        );

                    }
                    else {
                        $('.update_msg').html(
                            `<div class="alert alert-danger alert-dismissible fade show" role="alert"><strong>Error!</strong>An unknown error occured, please try again.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>`
                        );
                    }
                    form.reset()

                },
                error: function (data) {
                    console.log('An error occurred.');
                }

            }).done(function () {
                $('#create_btn').html('Create category')
            })

        })
    })
</script>
{% endblock content %}


{% block javascripts %}{% endblock javascripts %}