{% extends "pos/base.html" %}
{%load static%}
{% block title %}
{{product.name}}
{% endblock title %}
{% block heading %}
{{product.name}}
{% endblock heading %}
{% block content %}
<!--Delete product modal-->
<div class="modal fade" id="delete_product_modal" tabindex="-1" role="dialog"
    aria-labelledby="delete_product_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete_product_modal_label">
                    <i class="ti ti-exclamation mr-2"></i>
                    Delete Product
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                This action cannot be undone.
                Are you sure you want to delete this product?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="delete_product_confirm_btn">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="ml-2 mb-2">
    <a href="{% url 'products:products_list' %}">
        <button type="button" class="btn btn-primary font-weight-bold">
            <i class="ti ti-arrow-left"></i>
            Back
        </button>
    </a>
</div>

<div class="card ml-2">
    <div class="card-body">
        <div class="update_msg text-center"></div>

        <div class="row mb-5">
            <div class="col-md-6">

                <img {%if product.image%} src="{{product.image.url}}" {%else%} src="{%static 'default.png'%}" {%endif%}
                    class="img-fluid" alt="{{product.name}}" style="width: 100%; height: 100%; object-fit: contain; border-radius: 10px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                ">

            </div>
            <div class="col-md-6">
                <h3>{{product.name}}</h3>
                <p>{{product.description}}</p>
                <p>Price: <strong>{{product.price}}</strong></p>
                <p>Category: {{product.category}}</p>

                <a href="{% url 'products:products_update' product.id %}">
                    <button type="button" class="btn btn-primary">
                        <i class="ti ti-edit mr-2"></i>
                        Edit
                    </button>
                </a>

                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_product_modal">
                    <i class="ti ti-trash"></i>
                    Delete
                </button>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("delete_product_confirm_btn").click(function () {
            // loading spinner
            $(this).html(
                '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Deleting...'
            );
            // ajax request
            $.ajax({
                headers: {
                    "X-CSRFToken": "{{csrf_token}}"
                },
                type: "DELETE",
                url: "{% url 'products:products_delete' product.id %}",
                success: function (data) { },
                error: function (data) {

                },
            }).done(function (data) {
                // remove loading spinner
                $(this).html('Delete');




            });



        })
    });



</script>



{%endblock content%}