{% extends 'pos/base.html'%}

{% block title %}eTIMS | UltimatePOS{% endblock title %}
{% block stylesheets %}{% endblock stylesheets %}

{% block heading %}eTIMS{% endblock heading %}


{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header text-black">Server state</div>
            <div class="card-body">
                <p class="card-text">
                    <i class="fas fa-server"></i>
                    <span class="ml-2" id="status"></span>
                </p>
            </div>
        </div>
    </div>

</div>


<script>
    function get_etims_server_state() {
        $('#status').html('<i class="fas fa-spinner fa-spin"></i> Checking server state...')

        $.ajax({
            url: "{% url 'etims:server-status' %}",
            type: 'GET',
            success: function (data) {
                if (data['status'] == 'success') {
                    $('.card.text-bg-secondary').addClass('bg-success');
                    $('#status').text('Online');
                }
                else {
                    $('.card.text-bg-secondary').addClass('bg-danger');
                    $('#status').text('Offline');

                }
            },
            error: function (error) {
                console.log(error);

            }
        });

    }
    $(document).ready(function () {
        get_etims_server_state();


        // get server state after every 3 minutes
        setInterval(function () {
            get_etims_server_state();
        }, 180000);



    });
</script>
{% endblock content %}