{% extends 'pos/base.html'%}

{% block title %}ETIMS{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

<!-- Page Heading -->
{% block heading %}Electronic Tax Invoice Management System{% endblock heading %}

<!--Etims is not available in demo mode-->
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-danger">
            <strong>Sorry!</strong> ETIMS is not available in demo mode.
        </div>
        <div class="alert alert-info">
            <strong>ETIMS</strong> is a system that allows you to generate and submit invoices to KRA. It also allows
            you to file your VAT returns.
            <br>
            <strong>Ultimate POS</strong> is integrated with ETIMS. You can generate ETIMS compliant invoices and submit
            them to KRA directly from Ultimate POS.
        </div>

    </div>
</div>
<!-- Instructions for ETIMS integration-->
<div class="row">
    <div class="col-lg-12">
        <h3>Instructions for ETIMS integration</h3>
        <p>Get in touch with us at <a href="tel:+254706076039">+254706076039</a></p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3>Benefits of our ETIMS integration</h3>
        <ul>
            <li>Seamless integration with Ultimate POS</li>
            <li>Automatically generate ETIMS compliant invoices</li>
            <li>Automatically submit invoices to KRA</li>
            <li>Auto File your VAT returns</li>
            <li>Travel with your business, access your invoices from anywhere, jump from mobile to desktop seamlessly
            </li>
            <li>Everything runs in the cloud- the BusinessCloud</li>
            <li>We are a KRA approved ETIMS integrator</li>
        </ul>
    </div>
</div>
{% endblock content %}