{% extends 'pos/base.html'%}
{% block title %}
eTIMS | UltimatePOS
{% endblock title %}
{% block heading %}
eTIMS
{% endblock heading %}
{% block content %}
<div class="row">

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Server state</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <div id="status" class="card-text">

                            </div>

                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="ti ti-server ti-2x text-gray-600"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Products Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Pending invoices
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">46</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="ti ti-receipt text-gray-600"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Categories Card -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Pending products

                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">14</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="ti ti-tag text-gray-600"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-secondary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Notices

                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">3</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="ti ti-bell text-gray-600"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script>
    function get_etims_server_state() {
        $('#status').html('<i class="fas fa-spinner fa-spin"></i> Checking server state...')

        $.ajax({
            url: "{% url 'etims:server-status' %}",
            type: 'GET',
            success: function (data) {
                if (data['status'] == 'success') {
                    $('#status').addClass('text-success');
                    $('#status').text('Online');
                }
                else {
                    $('.card.text-bg-secondary').addClass('bg-danger');
                    $('#status').text('Offline');

                }
            },
            error: function (error) {
                console.log(error);

            }
        });

    }
    $(document).ready(function () {
        get_etims_server_state();
        // get server state after every 3 minutes
        setInterval(function () {
            get_etims_server_state();
        }, 180000);
    });
</script>
{% endblock content %}