{%extends 'pos/base.html'%}
{% load static %}
{% block title %}
Purchases - {{purchase.id}}
{% endblock %}
{%block heading%}
Purchases - {{purchase.id}}
{%endblock%}
{% block content %}

<div class="mb-3">
    <div class="btn-group">
        <a href="{%url 'purchases:index'%}" class="btn btn-primary">

            <i class="ti ti-arrow-left"></i>
            Back
        </a>
        <a href="{%url 'purchases:index'%}" class="btn btn-secondary">

            <i class="ti ti-pencil"></i>
            Edit
        </a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <label for="id">#</label>
        <input type="number" disabled value="{{purchase.id}}" id="id" class="form-control">

    </div>
</div>
{%endblock content%}