.git
.gitignore
.env
.vscode
*.pyc
__pycache__
*.pyo
*.pyd
.Python
env/
venv/
*/venv/
ENV/
env.bak/
venv.bak/
staticfiles/
media/
node_modules/
.coverage
htmlcov/
.pytest_cache/
.tox/
.eggs/
*.egg-info/
.installed.cfg
*.egg
db.sqlite3
Dockerfile
docker-compose.yml
README.md
.dockerignore
