# CREATE A COPY OF THIS FILE AND RENAME IT TO .env
# THEN FILL IN THE VALUES


# Secret key can be generated using: python3 -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
DJANGO_SECRET_KEY="8o0ksw8h$$f!0lyzuoz+5@0sq_tw8p@8*xqun*b4qmzf=1ieh="
# Database settings
DATABASE_NAME="" # your postgres database name
DATABASE_USER="" # your postgres user
DATABASE_PASSWORD="" # your postgres password
DATABASE_HOST="localhost" # your postgres host
DATABASE_PORT="5432" # your postgres port

