asgiref==3.7.2
autopep8==2.0.4
Brotli==1.1.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
cssselect2==0.7.0
Django
et-xmlfile==1.1.0
fonttools==4.47.0
html5lib==1.1
idna==3.6
openpyxl==3.1.2
Pillow==10.3.0
pycodestyle==2.11.1
pycparser==2.21
pydyf==0.8.0
pyphen==0.14.0
pypng==0.20220715.0
qrcode==7.4.2
requests==2.31.0
setuptools==69.0.3
six==1.16.0
sqlparse==0.4.4
tinycss2==1.2.1
tomli==2.0.1
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.2.1
weasyprint==60.2
webencodings==0.5.1
zopfli==0.2.3
psycopg2-binary
python-dotenv 