{%load static%}
<style>
    .modal-dialog-right {
        margin: 0 auto;
        margin-right: 0;
    }


    .modal-content-assistant {
        width: 400px;
        position: fixed;
        top: 80px;
        right: 20px;
    }
</style>
<div class="modal fade" id="aiAssistantModal" tabindex="-1" role="dialog" data-bs-backdrop="static"
    data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-right">
        <div class="modal-content-assistant modal-content">
            <div class="modal-header">
                <p class="modal-title mr-2"><small>Ask Zest</small><span><img src="{%static 'img/ai.svg'%}"
                            alt="Ask AI"></span></p>
                <p><small style="font-size: xx-small;">Powered by TomorrowAI<sup>&reg;</sup> platform</small></p>

                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="quiz">
                    <div id="chats"></div>
                    <div class="container container-fluid">
                        <div class="row mt-3">
                            <div class="col">
                                <div class="input-group flex-nowrap">
                                    <input type="text" class="form-control text-sm" style="width: 100%;"
                                        placeholder="Try something like What is the best selling product"
                                        aria-label="Chat input" id="input">
                                    <div class="input-group-append">
                                        <button class="btn btn-success" type="button" id="send_msg">
                                            <i class="fas fa-paper-plane"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>