{%load static%}
<link rel="stylesheet" href="{%static 'css/ai-assistant.css'%}">
<div class="modal fade" id="aiAssistantModal" tabindex="-1" role="dialog" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-right">
        <div class="modal-content-notify modal-content">
            <div class="modal-header">
                <p class="modal-title">
                    <small>
                        Chat with Zoe
                    </small>
                    <span>
                        <img src="{%static 'img/ai_sparkles.svg'%}" alt="Ask AI"
                            style="width: 20px; height: 20px; margin-top: -5px;">
                    </span>
                </p>
                <p>
                    <small style="font-size: xx-small;">Powered by TomorrowAI
                        <sup>&reg;</sup>
                        platform
                    </small>
                </p>

                <!--Expand modal button-->
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" id="close_zoe">
                        <i class="ti ti-x"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-danger" id="expand_zoe_modal">
                        <i class="ti ti-maximize"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="quiz">
                    <div id="chats"></div>
                    <div class="container container-fluid">
                        <div class="row mt-3">
                            <div class="alert alert-info col-12" role="alert" id="zoe_default">
                                <small>Hey there! I'm Zoe, your AI assistant.
                                    Ask me anything about your business, products, sales, customers, etc.
                                    <br>For example, you can ask "What is the best selling product?"
                                </small>
                            </div>
                            <div id="zoe_response" class="col-12"></div>
                            <div id="loader" class="col-12 text-center mb-2"></div>

                            <div class="col mt-3">
                                <form id="zoe_form">
                                    <div class="input-group flex-nowrap">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text text-sm" id="addon-wrapping">
                                                <i class="ti ti-dots"></i>
                                            </span>
                                        </div>


                                        <input type="text" class="form-control text-sm required"
                                            value="What is the best selling product?" aria-label="Chat input"
                                            id="input">
                                        <div class="input-group-append">
                                            <button class="btn btn-success btn-sm" type="submit" id="send_msg">
                                                <i class="ti ti-send"></i>
                                            </button>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<script>
    $(document).ready(function () {
        $('#close_zoe').click(function () {
            $('#aiAssistantModal').modal('hide');
        });
        $('#zoe_form').submit(function (e) {
            e.preventDefault()
            var chats = document.getElementById('zoe_response');
            var input = document.getElementById('input');
            var send_msg = document.getElementById('send_msg');
            var loader = document.getElementById('loader');
            let action = "{%url 'copilot:chat'%}";
            $('#zoe_default').remove();
            var msg = input.value;
            if (msg != '') {
                chats.innerHTML += '<div class="row mt-2 justify-content-end"><div class="col-12"><small>' + msg + '</small></div></div>';
                loader.innerHTML = '<div class="bubble"></div><div class="bubble"></div><div class="bubble"></div><div class="bubble"></div>';
                chats.scrollTop = chats.scrollHeight;
                $.ajax({
                    headers: {
                        'X-CSRFToken': '{{csrf_token}}'
                    },
                    type: 'POST',
                    url: action,
                    data: {
                        'query': msg
                    },
                    success: function (response) {
                        $('#loader').html('');
                        if (response.html != 'none') {
                            chats.innerHTML += '<div class="row mt-2 justify-content-start"><div class="col-12">' + response.html + '</div></div>';
                        } else {
                            chats.innerHTML += '<div class="row mt-2 justify-content-start"><div class="col-12"><div class="alert alert-danger" role="alert">Sorry, I could not understand your query. Please try again.</div></div></div>';
                        }
                    },
                    error: function (response) {
                        $('#loader').html('');
                        chats.innerHTML += '<div class="row mt-2 justify-content-start"><div class="col-12"><div class="alert alert-danger" role="alert">A network issue occurred. Are you connected to the internet?</div></div></div>';
                    },
                    complete: function () {
                        chats.scrollTop = chats.scrollHeight;
                    }
                });
            }
        })
    });

</script>