{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title%}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" />

    {% block stylesheets %}{% endblock stylesheets %}

</head>

<body id="page-top">

    <div id="wrapper">

        <div class="bar">
            <style>
                .bar {
                    position: fixed;
                    top: 0;
                    left: 0;
                    bottom: 0;

                    height: 100%;


                    z-index: 1000;
                    transition: all 0.5s;
                }

                #content-wrapper {
                    transition: all 0.3s;

                }
            </style>
            {% include 'pos/sidebar.html' %}
        </div>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {% include 'pos/navbar.html' %}

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <strong>
                            <h1 class="h1 mb-0 text-gray-800">{% block heading %}{% endblock heading%}</h1>
                        </strong>
                    </div>

                    <!--Messages will appear here-->
                    {% include 'pos/messages.html' with messages=messages%}

                    <!--Page content goes here-->
                    {% block content %}{% endblock content %}


                </div>
            </div>
            {% include 'pos/footer.html' %}
        </div>


    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    {% include 'pos/logout_modal.html' %}



    {% block javascripts %}{% endblock javascripts %}
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <script>

        var toggled = false;

        $(document).ready(function () {

            let btn = $('#sidebarToggle');
            btn.click();
        });
        $('#sidebarToggle').click(function () {
            if (toggled) {
                $('.bar').css('width', '250px');
                $('.bar').css('overflow', 'auto');
                $('#content-wrapper').css('margin-left', '250px');
                toggled = false;
            } else {
                $('.bar').css('width', '100px');
                $('.bar').css('overflow', 'hidden');
                $('#content-wrapper').css('margin-left', '100px');
                toggled = true;
            }
            if (toggled && $(window).width() < 768) {
                $('.bar').css('width', '100%');
                $('.bar').css('overflow', 'auto');
                $('#content-wrapper').css('margin-left', '0px');
            }
        });
        // colapse sider in small screens and 
        $(window).resize(function () {
            let margin = $('#content-wrapper').css('margin-left');
            if (parseInt(margin) > 100) {
                $('.bar').css('width', '100px');
                $('.bar').css('overflow', 'hidden');
                $('#content-wrapper').css('margin-left', '100px');
                toggled = true;
            }
            else {
                $('.bar').css('width', '250px');
                $('.bar').css('overflow', 'auto');
                $('#content-wrapper').css('margin-left', '250px');
                toggled = false;
            }



        });




    </script>

</body>

</html>