{%extends 'pos/base.html'%}
{%load static%}
{%block title%}Checkout{%endblock title%}
{%block heading%}
Checkout
{%endblock heading%}
{%block content%}
<div class="card">
    <div class="card-body">

        <div class="text-center">
            <img class="mb-4 text-center img-fluid" src="{%static 'img/logos/UltimatePOS Logo(2).svg'%}"
                alt="UltimatePOS Logo" width="150" height="150">
            <p>
                Streamline your business workflow
            </p>
        </div>


        <form action="" method="post" id="checkout-form">
            {% csrf_token %}
            <div class="form-group mt-3">
                <label for="phone">Phone Number</label>
                <input type="text" class="form-control" id="phone" name="phone" required>
                <p>
                    <small>
                        You will receive an M-PESA prompt
                    </small>
                </p>
            </div>
            <div class="form-group mt-3">
                <label for="amount">Amount</label>
                <input type="text" class="form-control" id="amount" name="amount" disabled value="{{amount}}">
            </div>
            <span style="display:block; text-align: center"> <a href="https://intasend.com/security"
                    target="_blank"><img
                        src="https://intasend-prod-static.s3.amazonaws.com/img/trust-badges/intasend-trust-badge-with-mpesa-hr-light.png"
                        width="375px" alt="IntaSend Secure Payments (PCI-DSS Compliant)"></a> <strong><a
                        style="display: block; color: #454545; text-decoration: none; font-size: 0.8em; margin-top: 0.6em;"
                        href="https://intasend.com/security" target="_blank">Secured by IntaSend
                        Payments</a></strong> </span>
            <div class="d-grid gap-2">

                <button type="submit" class="btn btn-success mt-3" id="submit">
                    <i class="ti ti-credit-card"></i> Pay
                </button>
            </div>
        </form>
    </div>
</div>
<div class="error_toast" style="display: none;">
    <div class="toast-container position-fixed bottom-0 start-50 translate-middle end-0 p-3 ">
        <div id="liveToast" class="toast" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class="fa fa-exclamation-triangle"></i>
                <strong class="me-auto">Ultimate POS</strong>
                <small>Now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" id="toast_body">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#checkout-form').submit(function (e) {
            e.preventDefault();

            $('.error_toast').css('display', 'block')

            var toast = new bootstrap.Toast(document.getElementById('liveToast'), {
                autohide: true,
                delay: 5000,
            });
            toast.show();
            $('#submit').html(`<div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
        </div>`);

            //TODO add subscription checkout functionality

        })
    })
</script>
{%endblock content%}