<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-success" id="logout_btn">Logout</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#logout_btn').click(function () {
            let logout_url = "{% url 'authentication:logout' %}";
            let login_url = "{% url 'authentication:login' %}";
            $.ajax({
                type: 'GET',
                url: logout_url,
                beforeSend: function () {
                    $('#logout_btn').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Logging out...').attr('disabled', true);
                },
                success: function (response) {
                    window.location.href = login_url;
                }
            })
            // send ajax get request, add loader to the btn then redirect to login page
        })

    })
</script>