{% load static %}

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Top bar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>
    <style>
        #all_notifications {
            overflow-y: auto;
            max-height: 300px;
        }

        #notification_content {
            overflow: auto;

        }
    </style>
    <style>
        .modal-dialog-right {
            margin: 0 auto;
            margin-right: 0;
        }


        .modal-content-assistant {
            width: 400px;
            position: fixed;
            top: 80px;
            right: 20px;
        }
    </style>

    {% block heading %}{% endblock heading%}

    <div class="modal fade" id="aiAssistantModal" tabindex="-1" role="dialog" data-bs-backdrop="static"
        data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-right">
            <div class="modal-content-assistant modal-content">
                <div class="modal-header">
                    <p class="modal-title mr-2"><small>UltimatePOS Copilot</small><span><img
                                src="{%static 'img/ai.svg'%}" alt="Ask AI"></span></p>
                    <p><small style="font-size: xx-small;">Powered by TomorrowAI<sup>&copy;
                            </sup>platform</small></p>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="quiz">
                        <div id="chats"></div>
                        <div class="container container-fluid">
                            <div class="row mt-3">
                                <div class="col">
                                    <div class="input-group flex-nowrap">
                                        <input type="text" class="form-control text-sm" style="width: 100%;"
                                            placeholder="Try something like What is the best selling product"
                                            aria-label="Chat input" id="input">
                                        <div class="input-group-append">
                                            <button class="btn btn-success" type="button" id="send_msg">
                                                <i class="fas fa-paper-plane"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Top bar Navbar -->
    <ul class="navbar-nav ml-auto">

        <li class="nav-item mr-3">
            <a class="nav-link" data-toggle="tooltip" data-placement="bottom" role="button" title="Ask AI">
                <img src="{%static 'img/ai.svg'%}" alt="Ask AI" id="ask_ai">
            </a>
        </li>
        <li class="nav-item mt-3 mr-3 ">
            <button type="button" class="btn btn-primary position-relative" id="notifications_btn" data-toggle="tooltip"
                data-placement="bottom" title="Ask AI">
                <!--NOtifications-->
                <i class="fas fa-bell fa-fw"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    <div id="number_of_notifications"></div>

                </span>
            </button>
            </button>
        </li>
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Notifications</h5>
                        <button type="button" class="btn " data-bs-dismiss="modal" aria-label="Close"
                            id="close_modal_top"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-5" id="all_notifications">
                                <div class="alert alert-primary card" role="alert">
                                    ...
                                </div>
                            </div>
                            <div class="col-md-7 text-center" id="notification_content">
                                <div class="card">
                                    <i class="fa fa-bell mt-3"></i>
                                    <p>Click on a notification to view its contents
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                            id="close_modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
        <li class="nav-item dropdown no-arrow ps-5">
            <a class="nav-link dropdown-toggle" href="/" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}" alt="profile_pic">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                {% comment %} <div class="dropdown-divider"></div> {% endcomment %}
                <a class="dropdown-item" href="{%url 'authentication:profile'%}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>


        </li>


    </ul>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }

            return cookieValue;
        }
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        // To avoid error 403 Forbidden
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });

        function saveNotificationsToSessionStorage(id, title, message, date) {
            var notification = {
                'id': id,
                'title': title,
                'message': message,
                'date': date
            };
            var notifications = JSON.parse(sessionStorage.getItem('notifications'));
            if (notifications == null) {
                notifications = [];
            }
            // check if that notification already exists
            var exists = false;
            for (let i in notifications) {
                if (notifications[i].id == id) {
                    exists = true;
                    break;
                }

            }
            if (!exists) {
                notifications.push(notification);
            }

            sessionStorage.setItem('notifications', JSON.stringify(notifications));
        }

        $(document).ready(function () {
            $("#send_msg").click(function () {
                var msg = $("#input").val();
                // add message on the left
                var current_time = new Date().getDate() + '/' + (new Date().getMonth() + 1) + '/' + new Date().getFullYear() + ' ' + new Date().getHours() + ':' + new Date().getMinutes() + ':' + new Date().getSeconds();

                var html = `
                <div class="d-flex justify-content-start mb-4">
                    <div class="msg_cotainer_send">
                        ${msg}
                        <span class="msg_time_send">${current_time}</span>
                    </div>
                    <div class="img_cont_msg">
                        <img src="{% static 'img/undraw_profile.svg' %}" class="rounded-circle user_img_msg">
                    </div>
                `;
                $("#chats").append(html);
                // clear input
                $("input").val('');
                // scroll to bottom
                var objDiv = document.getElementById("chats");
                objDiv.scrollTop = objDiv.scrollHeight;
                // add responding...
                var html = `
                <div class="d-flex justify-content-end mb-4">
                    <div class="img_cont_msg">
                        <img src="{% static 'img/ai.svg' %}" class="rounded-circle user_img_msg">
                    </div>
                    <div class="msg_cotainer">
                        Responding...
                        <span class="msg_time">${current_time}</span>
                    </div>
                
                `;
                $("#chats").append(html);




            })
            $.ajax({
                type: 'GET',
                url: '{% url "pos:notifications" %}',
                success: function (response) {


                    var count = 0;

                    for (let i in response) {

                        count++;
                    }

                    // display the number of notifications
                    if (count == 0) {
                        $("#notifications_btn").hide();
                    }
                    else {
                        $("#number_of_notifications").text(count);
                    }
                }
            });
        });
        function update_content(id) {
            $.ajax({
                type: 'GET',
                url: `{% url "pos:notifications" %}${id}`,
                data: {
                    'id': id
                },
                success: function (response) {

                    var html = `
                    <div>
                        <h3><strong>${response.title}</strong></h3>
                        <p class="text-center" style="font-size:10px;">${response.date}</p>
                        <p class="text-wrap justify-content-center">${response.message}</p>	
                        <!--Mark as read-->
                        <div class="form-check mt-5">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Mark as read
                        </label>
                        </div>
                                                
                    </div>
                    `;
                    $("#notification_content").html(html);
                }
            });
        }
        $("#notifications_btn").on('click', function () {
            $.ajax({
                type: 'GET',
                url: '{% url "pos:notifications" %}',
                success: function (response) {


                    var html = '';

                    for (let i in response) {
                        html += `
                        <div class="card mt-2">
                            <div class="card-body">
                                <h5 class="card-title">${response[i].title}</h5>
                                <p class="card-text">${response[i].message.substring(0, 30)}...</p>
                                <a class="btn btn-primary" id="${response[i].id}" onclick="update_content(${response[i].id});">Read</a>
                            </div>
                            <div class="card-footer text-muted">
                                ${response[i].date}
                            </div>
                        </div>
                        `;
                    }

                    $("#all_notifications").html(html);
                    $("#staticBackdrop").modal('show');
                }
            });
        });
        $("#close_modal").on('click', function () {
            $("#staticBackdrop").modal('hide');
        });
        $("#close_modal_top").on('click', function () {
            $("#staticBackdrop").modal('hide');
        });

        $(document).ready(function () {
            $('#ask_ai').click(function () {
                // show ai assistant modal
                $("#aiAssistantModal").modal('show');
            })
        })
    </script>

</nav>