{%load static%}


<div class="modal fade" id="notificationsModal" tabindex="-1" role="dialog" aria-labelledby="notificationsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black" id="notificationsModalLabel">Notifications</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    id="close_notifications_modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--dynamically inserted notifications-->
                <div id="notifications">
                    <div class="alert alert-info" role="alert">
                        <strong>Info!</strong> You are all caught up. What about a cup of coffee?
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!--view single notification modal-->
<div class="modal fade" id="viewNotificationModal" tabindex="-1" role="dialog"
    aria-labelledby="viewNotificationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="text-black text-center" id="viewNotificationModalLabel">Notification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close_notif">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--Actions delete and mark as read-->
                <div class="btn-group mb-2" role="group" aria-label="Basic example" id="actions_">
                    <button type="button" class="btn btn-danger">
                        <i class="ti ti-trash"></i>
                    </button>
                    <button type="button" class="btn btn-primary">
                        <i class="ti ti-check"></i>
                    </button>
                </div>
                <h5 id="notification_title"></h5>
                <p id="notification_message"></p>
                <p id="notification_date" style="color: gray; font-size: 10px; " class=""></p>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'utils/notifications.js' %}"></script>
<script>
    fethAllNotifications("{% url 'pos:notifications_list' %}");
</script>