{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" />
    <link rel="stylesheet" href="{%static 'css/icons/tabler-icons/tabler-icons.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{%static 'libs/bootstrap/dist/css/bootstrap.min.css'%}">
    <title>POS</title>
</head>

<body>

    <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item d-none d-md-block">
                    <a class="nav-link">
                        <i class="ti ti-keyboard fs-6"></i>
                    </a>
                </li>

            </ul>
            {%include 'pos/pos_top_bar.html'%}
        </nav>
    </header>


    <div class="mx-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-header">
                                Products
                            </div>
                            <div class="card-body">
                                <input type="hidden" id="product_row_count" value="16" />
                                <table class="table table-condensed table-bordered table-striped table-responsive"
                                    id="pos_table">
                                    <thead>
                                        <tr>
                                            <th class="tex-center col-md-4">
                                                Product
                                                <i class="ti ti-info-circle text-info hover-q no-print"
                                                    aria-hidden="true" data-trigger="hover"></i>
                                            </th>
                                            <th class="text-center col-md-3">
                                                Quantity
                                            </th>
                                            <th class="text-center col-md-2">
                                                Price inc. tax
                                            </th>
                                            <th class="text-center col-md-2">
                                                Subtotal
                                            </th>
                                            <th class="text-center">
                                                <i class="ti ti-x" aria-hidden="true"></i>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="show-cart">
                                        <tr>
                                            <td>
                                                UltimatePOS
                                            </td>
                                            <td>
                                                3
                                            </td>
                                            <td>
                                                30000
                                            </td>
                                            <td>
                                                40000
                                            </td>
                                            <td>
                                                <button class="btn btn-danger">
                                                    <i class="ti ti-x"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-header">
                                <div class="text-center mb-3 px-5">
                                    <input type="text" class="form-control" id="search_products"
                                        placeholder="Refrigerator...">
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">

                                    {% for prod in products %}
                                    <div class="col-xl-4 col-md-6 mb-4">
                                        <div class="card border-left-info shadow py-2 h-100 w-100">
                                            <div class="card-body">
                                                {%if prod.image%}
                                                <img class="img-fluid" src="{{prod.image.url}}" height="100"
                                                    width="100">
                                                {%else%}
                                                <img class="img-fluid" src="/media/defaults/default.png" height="100"
                                                    width="100">
                                                {%endif%}
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold mb-1">
                                                            Product
                                                        </div>
                                                        <div class="row no-gutters align-items-center">
                                                            <div class="col-auto">
                                                                <div
                                                                    class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                                    20,000 </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {%endfor%}

                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="text-center mt-2 mr-2 ml-2 mb-2">
                        <div class="card shadow">
                            <div class="card-body">

                                <button type="button"
                                    class="btn bg-red btn-default btn-flat no-print pos-express-finalize"
                                    id="suspend_sale" data-pay_method="suspend" title="Suspend Sales (pause)">
                                    <i class="ti ti-player-pause" aria-hidden="true"></i>
                                    Suspend
                                </button>

                                <button type="button"
                                    class="btn bg-maroon btn-default btn-flat no-print pos-express-finalize"
                                    data-pay_method="card" title="Express checkout using card">
                                    <i class="ti ti-brand-mastercard" aria-hidden="true"></i> Card
                                </button>

                                <button type="button" class="btn bg-navy btn-default btn-flat no-print"
                                    id="pos-finalize" title="Checkout using multiple payment methods">
                                    <i class="ti ti-moneybag" aria-hidden="true"></i>
                                    Multiple Pay
                                </button>

                                <button type="button" class="btn btn-success btn-flat no-print pos-express-finalize"
                                    data-pay_method="cash" id="complete_payment"
                                    title="Mark complete paid &amp; checkout">
                                    <i class="ti ti-cash" aria-hidden="true"></i>
                                    Cash
                                </button>
                                &nbsp;&nbsp;
                                <b>Total Payable:</b>
                                <input type="hidden" name="final_total" id="final_total_input" value="3,920.63" />
                                <span id="total_payable" class="text-success lead text-bold total-cart"></span>

                                &nbsp;<button type="button" class="btn btn-danger btn-flat clear-cart">
                                    <i class="ti ti-home-cancel"></i> Cancel
                                </button>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="{% static 'js/color-modes.js' %}"></script>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'utils/cart.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>