{%load static%}
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'utils/cart.js' %}"></script>
<div class="navbar-collapse justify-content-end px-0" id="navbarNav">
    <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">

        <li class="nav-item dropdown">
            <a class="nav-link nav-icon-hover" id="sound_btn" data-bs-toggle="dropdown" aria-expanded="false">

                <i class="ti ti-volume"></i>

            </a>

        </li>
        <li class="nav-item dropdown" id="view_suspended_sales">
            <a class="nav-link nav-icon-hover" aria-expanded="false">
                <i class="ti ti-player-pause"></i>
            </a>

        </li>
        <li class="nav-item dropdown">
            <a class="nav-link nav-icon-hover" href="{% url 'pos:index' %}" aria-expanded="false">
                <i class="ti ti-home"></i>
            </a>

        </li>
    </ul>
</div>