<nav class="sidebar-nav scroll-sidebar" data-simplebar="">
    <ul id="sidebarnav">
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Home</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'pos:index' %}" aria-expanded="false">
                <span>
                    <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
            </a>
        </li>
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Essentials</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'pos:pos' %}" aria-expanded="false">
                <span>
                    <i class="ti ti-brand-shopee"></i>
                </span>
                <span class="hide-menu">POS</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'products:products_list' %}" aria-expanded="false">
                <span>
                    <i class="ti ti-package"></i>
                </span>
                <span class="hide-menu">Products</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'sales:sales_list' %}" aria-expanded="false">
                <span>
                    <i class="ti ti-shopping-cart"></i>
                </span>
                <span class="hide-menu">Sales</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'inventory:inventory_index' %}" aria-expanded="false">
                <span>
                    <i class="ti ti-package"></i>
                </span>
                <span class="hide-menu">Stock</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'reports:index' %}" aria-expanded="false">
                <span>
                    <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">Reports</span>
            </a>
        </li>

        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Company</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{%url 'company:branches'%}" aria-expanded="false">
                <span>
                    <i class="ti ti-building-store"></i>
                </span>
                <span class="hide-menu">Stores</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{%url 'suppliers:index'%}" aria-expanded="false">
                <span>
                    <i class="ti ti-truck-loading"></i>
                </span>
                <span class="hide-menu">Suppliers</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{%url 'customers:customers_list'%}" aria-expanded="false">
                <span>
                    <i class="ti ti-users"></i>
                </span>
                <span class="hide-menu">Customers</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{%url 'expenses:index'%}" aria-expanded="false">
                <span>
                    <i class="ti ti-truck"></i>
                </span>
                <span class="hide-menu">Expenses</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{%url 'purchases:index'%}" aria-expanded="false">
                <span>
                    <i class="ti ti-shopping-cart"></i>
                </span>
                <span class="hide-menu">Purchases</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a class="sidebar-link" href="{%url 'accounting:accounting'%}" aria-expanded="false">
                <span>
                    <i class="ti ti-cash"></i>
                </span>
                <span class=" hide-menu">Accounting</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{%url 'authentication:users_index'%}" aria-expanded="false">
                <span>
                    <i class="ti ti-user"></i>
                </span>
                <span class="hide-menu">Users</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{%url 'company:settings'%}" aria-expanded="false">
                <span>
                    <i class="ti ti-settings"></i>
                </span>
                <span class="hide-menu">Settings</span>
            </a>
        </li>

        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">EXTRA</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{%url 'pos:subscription_page'%}" aria-expanded="false">
                <span>
                    <i class="ti ti-wallet"></i>
                </span>
                <span class="hide-menu">Subscription</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{%url 'etims:etims'%}" aria-expanded="false">
                <span>
                    <i class="ti ti-calculator"></i>
                </span>
                <span class="hide-menu">eTIMS</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="{%url 'cloud:cloud'%}" aria-expanded="false">
                <span>
                    <i class="ti ti-cloud"></i>
                </span>
                <span class="hide-menu">Cloud</span>
            </a>
        </li>
    </ul>

</nav>