{%extends 'pos/base.html'%}
{%load static%}
{%block title%}Renew Subscription{%endblock title%}
{%block heading%}
<h1>Renew Subscription</h1>
{%endblock heading%}
{%block content%}
<!--Oops looks like your subscription has ended-->
<div id="alert">
    {% if request.user.is_staff or request.user.is_superuser %}
    <!-- Oops subscription has ended, please renew -->
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Oops!</h4>
        <p>Looks like your subscription has ended, please renew to continue using our services.</p>
        <hr>
        <p class="mb-0">Renew your subscription to continue using our services.</p>
    </div>


    {% endif %}

</div>
<!--Plans-->
<!-- Only visible to staff and super users else show contact admin card-->
{% if request.user.is_staff or request.user.is_superuser %}
<div id="plans">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h3>Basic</h3>
                </div>
                <div class="card-body">
                    <h4 class="card-title"><strong>Kshs 1500</strong></h4>
                    <p class="card-text">Per month</p>
                    <ul>
                        <li>1 User</li>
                        <li>Unlimited products</li>
                        <li>ETIMS Integration</li>
                        <li>Unlimited sales</li>
                        <li>Unlimited purchases</li>
                        <li>Unlimited customers</li>
                        <li>Unlimited suppliers</li>
                        <li>Unlimited transactions</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Select</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h3>Standard</h3>
                </div>
                <div class="card-body">
                    <h4 class="card-title"><strong>Kshs 3500</strong></h4>
                    <p class="card-text">Per month</p>
                    <ul>
                        <li>5 Users</li>
                        <li>ETIMS Integration</li>
                        <li>Unlimited products</li>
                        <li>Unlimited categories</li>
                        <li>Unlimited sales</li>
                        <li>Unlimited purchases</li>
                        <li>Unlimited customers</li>
                        <li>Unlimited suppliers</li>
                        <li>Unlimited transactions</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Select</a>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h3>Premium</h3>
                </div>
                <div class="card-body">
                    <h4 class="card-title"><strong>Kshs 5000</strong></h4>
                    <p class="card-text">Per month</p>
                    <ul>
                        <li>Unlimited Users</li>

                        <li>ETIMS Integration</li>
                        <li>Unlimited products</li>

                        <li>Unlimited categories</li>
                        <li>Unlimited sales</li>
                        <li>Unlimited purchases</li>
                        <li>Unlimited customers</li>
                        <li>Unlimited suppliers</li>
                        <li>Unlimited transactions</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Select</a>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <!--You are seeing this page because you are an admin-->
        <!--Believe there is an error with your subscription?, contact us-->
        <div class="col-md-12 mt-3 ml-2">
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">Contact us</h4>
                <p>Believe there is an error with your subscription?, contact us.</p>
                <hr>
                <p class="mb-0">Contact us if you believe there is an error with your subscription.</p>
            </div>
        </div>
        <div class="mb-5 ml-2">
            <small>
                You are seeing this page because you are an admin.
            </small>
        </div>
    </div>
</div>
{% else %}
<div id="contact_admin">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Oops!</h4>
        <p>Looks like your subscription has ended, please contact the admin to renew your subscription.</p>
        <hr>
        <p class="mb-0">Contact the admin to renew your subscription.</p>
    </div>
</div>
{% endif %}


{%endblock content%}