{% extends 'pos/base.html' %}
{% load static %}

{% block title %}
    POS
{% endblock title %}

{% block stylesheets %}
        <link href="{% static 'css/pos.css' %}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />

    <!-- Custom fonts for this template-->
    <link
      href="{% static 'vendor/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link />
{% endblock stylesheets %}

{% block content %}
    <div class="pace pace-inactive pace-inactive">
        <div
          class="pace-progress"
          data-progress-text="100%"
          data-progress="99"
          style="transform: translate3d(100%, 0px, 0px)"
        >
          <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
      </div>

      <div class="wrapper thetop" style="height: auto">
        <div class="col-md-12 no-print pos-header">
          <input type="hidden" id="pos_redirect_url" />
          <div class="row">
            <div class="col-md-6">
              <div class="m-6 mt-5 hidden-xs">
                <p>
                  <i
                    class="fa fa-keyboard hover-q text-muted"
                    title=""
                  ></i>
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <a
                class="btn btn-info btn-flat m-6 btn-xs m-5 pull-right"
                data-original-title="Go Back"
                href="{% url "pos:index" %}"
              >
                <strong><i class="fa fa-home" aria-hidden="true"></i></strong>
              </a>

              <button
                type="button"
                id="view_suspended_sales"
                title=""
                class="btn bg-yellow btn-flat m-6 btn-xs m-5 btn-modal pull-right"
                data-href="{% url 'pos:index' %}"
              >
                <strong><i class="fa fa-pause-circle fa-lg"></i></strong>
              </button>
            </div>
          </div>
        </div>

        <!-- Content Wrapper. Contains page content -->
        <div class="">
          <section class="content no-print">
            <input type="hidden" id="amount_rounding_method" value="" />
            <form
              method="POST"
              action=""
              accept-charset="UTF-8"
              id="add_pos_sell_form"
              novalidate="novalidate"
            >

              <div class="row mb-12">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-7 no-padding pr-12">
                      <div class="box box-solid mb-12">
                        <div class="box-body pb-0">
                          
                          <div class="row">
                            <div class="col-md-4">
                              <div
                                class="form-group"
                                style="width: 100% !important"
                              >
                                <div class="input-group">
                                  <span class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                  </span>

                                 
                                  <span
                                    class="select2 select2-container select2-container--default select2-container--below select2-container--focus"
                                    dir="ltr"
                                    style="width: 100%"
                                    ><span class="selection"
                                      ><span
                                        class="select2-selection select2-selection--single"
                                        role="combobox"

                                        ><span
                                          class="select2-selection__rendered"
                                          id="select2-customer_id-container"
                                          title="cashload.pk"
                                          >cashload.pk</span
                                        ><span
                                          class="select2-selection__arrow"
                                          role="presentation"
                                          ><b
                                            role="presentation"
                                          ></b></span></span></span
                                    ><span
                                      class="dropdown-wrapper"
                                      aria-hidden="true"
                                    ></span
                                  ></span>
                                  <span class="input-group-btn">



                                    <button
                                      type="button"
                                      class="btn btn-default bg-white btn-flat add_new_customer"
                                      data-name=""
                                    >
                                      <i
                                        class="fa fa-plus-circle text-primary fa-lg"
                                      ></i>
                                    </button>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-8">
                              <div class="form-group">
                                <div class="input-group">
                                  <div class="input-group-btn">
                                    <button
                                      type="button"
                                      class="btn btn-default bg-white btn-flat"

                                      title="Configure product search"
                                    >
                                      <i class="fa fa-barcode"></i>
                                    </button>
                                  </div>
                                  <input
                                    class="form-control mousetrap ui-autocomplete-input"
                                    id="search_product"
                                    placeholder="Enter Product name / SKU / Scan bar code"
                                    autofocus=""
                                    name="search_product"
                                    type="text"
                                    autocomplete="off"
                                  />
                                  <span class="input-group-btn">
                                    <!-- Show button for weighing scale modal -->

                                    <button
                                      type="button"
                                      class="btn btn-default bg-white btn-flat pos_add_quick_product"
                                    >
                                      <i
                                        class="fa fa-plus-circle text-primary fa-lg"
                                      ></i>
                                    </button>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div
                              class="col-sm-12 pos_product_div"
                              style="min-height: 333px; max-height: 333px"
                            >
                              <!-- Keeps count of product rows -->
                              <input
                                type="hidden"
                                id="product_row_count"
                                value="16"
                              />
                              <table
                                class="table table-condensed table-bordered table-striped table-responsive"
                                id="pos_table"
                              >
                                <thead>
                                  <tr>
                                    <th class="tex-center col-md-4">
                                      Product
                                      <i
                                        class="fa fa-info-circle text-info hover-q no-print"
                                        aria-hidden="true"
                                        data-trigger="hover"
                                      ></i>
                                    </th>
                                    <th class="text-center col-md-3">
                                      Quantity
                                    </th>
                                    <th class="text-center col-md-2">
                                      Price inc. tax
                                    </th>
                                    <th class="text-center col-md-2">
                                      Subtotal
                                    </th>
                                    <th class="text-center">
                                      <i
                                        class="fas fa-times"
                                        aria-hidden="true"
                                      ></i>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr class="product_row" data-row_index="15">
                                    <td>
                                      <div
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="Edit product Unit Price and Tax"
                                      >
                                        <span
                                          class="text-link text-info cursor-pointer"
                                          data-toggle="modal"
                                          data-target="#row_edit_product_price_modal_15"
                                        >
                                          Product 1 in cart<i
                                            class="fa fa-info-circle"
                                          ></i>
                                        </span>
                                      </div>
                                    </td>

                                    <td>
                                      <div class="input-group input-number">
                                        <span class="input-group-btn"
                                          ><button
                                            type="button"
                                            class="btn btn-default btn-flat quantity-down"
                                          >
                                            <i
                                              class="fa fa-minus text-danger"
                                            ></i></button
                                        ></span>
                                        <input
                                          type="text"
                                          data-min="1"
                                          class="form-control pos_quantity input_number mousetrap input_quantity"
                                          value="1.00"
                                        />
                                        <span class="input-group-btn"
                                          ><button
                                            type="button"
                                            class="btn btn-default btn-flat quantity-up"
                                          >
                                            <i
                                              class="fa fa-plus text-success"
                                            ></i></button
                                        ></span>
                                      </div>
                                    </td>

                                    <td class="">
                                      <input
                                        type="text"
                                        disabled
                                        class="form-control pos_unit_price_inc_tax input_number"
                                        value="1,306.25"
                                      />
                                    </td>
                                    <td class="text-center v-center">
 
                                      <span
                                        class="display_currency pos_line_total_text"
                                        data-currency_symbol="true"
                                        >$ 1,306.25</span
                                      >
                                    </td>
                                    <td class="text-center">
                                      <i
                                        class="fa fa-times text-danger pos_remove_row cursor-pointer"
                                        aria-hidden="true"
                                      ></i>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <table class="table table-condensed">
                                <tbody>
                                  <tr>
                                    <td>
                                      <b>Items:</b>&nbsp;
                                      <span class="total_quantity">4.00</span>
                                    </td>
                                    <td>
                                      <b>Total:</b> &nbsp;
                                      <span class="price_total">4,356.25</span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <b>
                                        Discount
                                        <i
                                          class="fa fa-info-circle text-info hover-q no-print"
                                          aria-hidden="true"
                                        ></i>
                                        (-):
                                        <i
                                          class="fas fa-edit cursor-pointer"
                                          id="pos-edit-discount"
                                        ></i>
                                        <span id="total_discount">435.63</span>
                                        
                                      </b>
                                    </td>
                                    <td class="">
                                      <span>
                                        <b
                                          >Order Tax(+):
                                          <i
                                            class="fa fa-info-circle text-info hover-q no-print"
                                            aria-hidden="true"
                                            title=""
                                          ></i
                                        ></b>
                                        <i
                                          class="fas fa-edit cursor-pointer"
                                          title="Edit Order Tax"
                                          aria-hidden="true"
                                          data-toggle="modal"
                                          data-target="#posEditOrderTaxModal"
                                          id="pos-edit-tax"
                                        ></i>
                                        <span id="order_tax">0.00</span>

                                        <input
                                          type="hidden"
                                          name="tax_rate_id"
                                          id="tax_rate_id"
                                          value=""
                                          data-default=""
                                        />

                                        <input
                                          type="hidden"
                                          name="tax_calculation_amount"
                                          id="tax_calculation_amount"
                                          value="0.00"
                                          data-default=""
                                        />
                                      </span>
                                    </td>
                                    <td class="">
                                      <span>
                                        <b
                                          >Shipping(+):
                                          <i
                                            class="fa fa-info-circle text-info hover-q no-print"
                                            aria-hidden="true"
                                            title=""
                                          ></i
                                        ></b>
                                        <i
                                          class="fas fa-edit cursor-pointer"
                                          title="Shipping"
                                         
                                        ></i>
                                        <span id="shipping_charges_amount"
                                          >0.00</span
                                        >
                                       
                                      </span>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>

                          
                          <div
                            class="modal fade"
                            tabindex="-1"
                            role="dialog"
                            id="recurringInvoiceModal"
                          >
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5 no-padding">
                      <div class="row">
                        <div class="col-md-6">
                          <span
                            class="select2 select2-container select2-container--default select2-container--below"
                            dir="ltr"
                            style="width: 100%"
                            ><span class="selection"
                              ><span
                                class="select2-selection select2-selection--single"
                                role="combobox"
                                aria-haspopup="true"
                                aria-expanded="false"
                                tabindex="0"
                                aria-labelledby="select2-product_category-container"
                                
                                ><select style="width: 100%; height: 100%;" class="selection form-select">
                                  <option value="">One</option>
                                  <option value="">One</option>
                                </select></span></span
                            ><span
                              class="dropdown-wrapper"
                              aria-hidden="true"
                            ></span
                          ></span>
                        </div>
                      </div>
                      <br />
                      <div class="row">
                        <input type="hidden" id="suggestion_page" value="4" />
                        <div class="col-md-12">
                          <div class="eq-height-row" id="product_list_body">
                            {% for prod in products %}
                            <div onclick="alert('You clicked on product: {{prod.name}}')"
                              class="col-md-3 col-xs-4 product_list no-print"
                            >
                              <div
                                class="product_box"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                data-variation_id="57"
                                title=""
                                data-original-title="{{ prod.name }}"
                              >
                                <div
                                  class="image-container"
                                  style="background-image: url(
											{{ prod.image.url }}
									);
			background-repeat: no-repeat; background-position: center;
			background-size: contain;"
                                ></div>

                                <div class="text_div">
                                  <small class="text text-muted"
                                    >{{ prod.name }}
                                  </small>

                                  <small class="text-muted">
                                    <strong>{{ prod.price }}</strong>
                                  </small>
                                </div>
                              </div>
                            </div>
                            {% endfor %}
                          </div>
                        </div>
                        <div
                          class="col-md-12 text-center"
                          id="suggestion_page_loader"
                          style="display: none"
                        >
                          <i class="fa fa-spinner fa-spin fa-2x"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="pos-form-actions">
                  <div class="col-md-12">
                    <button
                      type="button"
                      class="btn bg-red btn-default btn-flat no-print pos-express-finalize"
                      data-pay_method="suspend"
                      title="Suspend Sales (pause)"
                    >
                      <i class="fas fa-pause" aria-hidden="true"></i>
                      Suspend
                    </button>

                    <button
                      type="button"
                      class="btn bg-maroon btn-default btn-flat no-print pos-express-finalize"
                      data-pay_method="card"
                      title="Express checkout using card"
                    >
                      <i class="fas fa-credit-card" aria-hidden="true"></i> Card
                    </button>

                    <button
                      type="button"
                      class="btn bg-navy btn-default btn-flat no-print"
                      id="pos-finalize"
                      title="Checkout using multiple payment methods"
                    >
                      <i class="fas fa-money-check-alt" aria-hidden="true"></i>
                      Multiple Pay
                    </button>

                    <button
                      type="button"
                      class="btn btn-success btn-flat no-print pos-express-finalize"
                      data-pay_method="cash"
                      title="Mark complete paid &amp; checkout"
                    >
                      <i class="fas fa-money-bill-alt" aria-hidden="true"></i>
                      Cash
                    </button>
                    &nbsp;&nbsp;
                    <b>Total Payable:</b>
                    <input
                      type="hidden"
                      name="final_total"
                      id="final_total_input"
                      value="3,920.63"
                    />
                    <span id="total_payable" class="text-success lead text-bold"
                      >3,920.63</span
                    >

                    &nbsp;<button
                      type="button"
                      class="btn btn-danger btn-flat"
                      id="pos-cancel"
                    >
                      <i class="fas fa-window-close"></i> Cancel
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary btn-flat pull-right"
                      data-toggle="modal"
                      data-target="#recent_transactions_modal"
                      id="recent-transactions"
                    >
                      <i class="fas fa-clock"></i> Recent Transactions
                    </button>
                  </div>
                </div>
              </div>

                
            </form>
          </section></div>

      </div>

      <div></div>

      <div class="scrolltop no-print">
        <div class="scroll icon"><i class="fas fa-angle-up"></i></div>
      </div>
    
    
{% endblock content %}