{%load static%}
<div class="navbar-collapse justify-content-end px-0" id="navbarNav" data-bs-theme="auto">
    <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">

        <li class="nav-item dropdown">
            <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="{%static 'img/undraw_profile.svg'%}" alt="" width="35" height="35" class="rounded-circle">
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                <div class="message-body">
                    <div class="d-flex align-items-center gap-2 mb-3">
                        <img src="{%static 'img/undraw_profile.svg'%}" alt="" width="50" height="50"
                            class="rounded-circle">
                        <div>
                            <h6 class="mb-0">{{ request.user.username }}</h6>
                            <p class="mb-0 fs-3">{{ request.user.email }}</p>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a href="{%url 'pos:index'%}" class="d-flex align-items-center
                        gap-2 dropdown-item">
                        <i class="ti ti-home fs-6"></i>
                        <p class="mb-0 fs-3">Dashboard</p>
                    </a>
                    <!--if admin show link to admin-->
                    {% if request.user.is_superuser %}
                    <a href="/admin/" class="d-flex align-items-center gap-2 dropdown-item">
                        <i class="ti ti-settings fs-6"></i>
                        <p class="mb-0 fs-3">Admin</p>
                    </a>
                    {% endif %}
                    <a href="{%url 'authentication:profile'%}" class="d-flex align-items-center gap-2 dropdown-item">
                        <i class="ti ti-user fs-6"></i>
                        <p class="mb-0 fs-3">My Profile</p>
                    </a>

                    <a href="{%url 'authentication:logout'%}" class="d-flex align-items-center gap-2 dropdown-item">

                        <i class="ti ti-power-off fs-6"></i>
                        <p class="mb-0 fs-3">Logout</p>
                    </a>

                </div>
            </div>
        </li>
    </ul>
</div>