{%extends 'pos/base.html'%}
{% load static %}
{% block title %}Add Branch{% endblock %}
{%block heading%}
Add Branch
{%endblock heading%}
{%block content%}
<div class="ml-2 mb-3">
    <a class="btn btn-primary" href="{%url 'company:branches'%}">
        <i class="ti ti-arrow-left"></i>
        Back
    </a>
</div>
<div class="card ml-2">
    <div class="card-body">
        <form action="/api/branch/" method="post" id="branch_form">
            <input type="hidden" name="company" value="{{company.id}}" id="company">
            <input type="hidden" name="is_headquarter" value="false" id="is_headquarter">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="branch_name">Branch Name</label>
                    <input type="text" name="branch_name" id="branch_name" required class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label for="phone_number">Phone Number</label>
                    <input type="tel" name="phone_number" id="phone_number" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control">

                </div>

            </div>
            <div class="form-row">
                <div class="col-md-12 form-group">
                    <label for="address">Where is the branch located?</label>
                    <textarea name="address" id="address" class="form-control"></textarea>
                </div>
            </div>


            <button type="submit" class="btn btn-success" id="save">
                Save Branch
            </button>
        </form>
    </div>
</div>
<div class="error_toast mt-3" style="display: none;">
    <div class="toast-container position-fixed bottom-0 start-50 translate-middle end-0 p-3 ">
        <div id="liveToast" class="toast" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class="ti ti-exclamation-mark"></i>
                <strong class="me-auto">Ultimate POS</strong>
                <small>Now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" id="toast_body">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#branch_form").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');

            $('#save').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Creating...')

            $.ajax({
                method: 'POST',
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                    "Content-Type": "application/json",
                },
                processData: false,
                data: JSON.stringify({
                    branch_name: $("#branch_name").val(),
                    company: $("#company").val(),
                    email: $("#email").val(),
                    address: $("#address").val(),
                    phone_number: $("#phone_number").val(),

                }),
                url: url,
                success: function (response) {
                    $('#branch_form').trigger('reset');
                    $('.error_toast').css('display', 'block')
                    // change toast body
                    $('#toast_body').html("Branch added successfully.");
                    var toast = new bootstrap.Toast(document.getElementById('liveToast'), {
                        autohide: true,
                        delay: 5000,
                    });
                    toast.show();
                    $('#save').html('Save')
                },
                error: function (response) {
                    $('.error_toast').css('display', 'block')
                    // change toast body
                    $('#toast_body').html(response.responseJSON.detail);
                    var toast = new bootstrap.Toast(document.getElementById('liveToast'), {
                        autohide: true,
                        delay: 5000,
                    });
                    toast.show();
                    $('#save').html('Save')

                }
            })

        })
    })
</script>
{%endblock content%}