{%extends 'pos/base.html'%}
{%load static%}

{%block title%}
Settings
{%endblock title%}
{% block heading %}<i class="fas fa-fw fa-gear"></i> Settings{% endblock heading%}
<div id="status">

</div>
{%block content%}
<div id="status">

    <!--hidden company id-->
    <input type="hidden" id="companyId" value="{{company.id}}">
    <!--Hidden company name-->
    <input type="hidden" id="companyName" value="{{company.company_name}}">
</div>

<!--Go to invoice/receipt customization-->
<div class="row mb-3">
    <div class="col-md-4">

    </div>
    <!--Search settings-->
    <div class="col-md-4">
        <form class="form-inline d-block mx-auto">
            <div class="form-group">
                <input type="text" class="form-control" id="searchSettings" placeholder="Search settings">
            </div>
        </form>
    </div>
    <div class="col-md-4">

    </div>
</div>

<section id="company">
    <div class="ml-2 mb-3">

        {%if company%}
        <form id="companyForm" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-6">
                    {% if company.logo %}
                    <img src="{{company.logo}}" alt="Company Logo" id="logo"
                        style="width: 200px; height: 200px; object-fit: contain; border-radius: 10px;"
                        class="img-fluid">

                    {% else %}
                    <img src="{% static 'default.png' %}" alt="Company Logo"
                        style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);width: 200px; height: 200px; object-fit: contain; border-radius: 10px;"
                        class="img-fluid" id="logo">
                    {% endif %}
                    <button type="button" id="uploadImageBtn" class="btn btn-success">
                        Select Image
                    </button>
                </div>

            </div>
            {%csrf_token%}
            <div class="form-row mt-3">
                <div class="form-group col-md-6">
                    <label for="companyName">Company Name</label>
                    <input type="text" class="form-control" id="companyName" value="{{company.company_name}}" disabled>
                </div>
                <div class="form-group col-md-6">
                    <label for="companyName">KRA PIN</label>
                    <input type="text" class="form-control" id="kra_pin" value="{{company.kra_pin}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="companyEmail">Company Email</label>
                <input type="email" class="form-control" id="companyEmail" name="companyEmail" value="{{company.email}}"
                    required>
            </div>
            <div class="form-group">
                <label for="companyPhone">Company Phone</label>
                <input type="text" class="form-control" id="companyPhone" name="companyPhone" value="{{company.phone}}"
                    required>
            </div>
            <div class="form-group">
                <label for="companyAddress">Company Address</label>
                <input type="text" class="form-control" id="companyAddress" name="companyAddress"
                    value="{{company.address}}" required>
            </div>
            <div class="form-group">
                <label for="companyCity">Company City</label>
                <input type="text" class="form-control" id="companyCity" name="companyCity" value="{{company.city}}"
                    required>
            </div>



            <button type="submit" class="btn btn-success" id="updateCompany">Update</button>

        </form>
        {%else%}
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">No Company Found!</h4>
            <p>It seems you have not added your company details yet. Please add your company details to continue.</p>
            <!--Please note that the details can only be set once-->
            <i class="fas fa-exclamation-triangle"></i>
            Please note that the details can only be set once
            <hr>
            <!--open modal button-->
            <button type="button" class="btn btn-primary">Add
                Company</button>
        </div>
        {%endif%}
    </div>
</section>



<script>

    $(document).ready(function () {
        $('#companyForm').submit(function (e) {
            e.preventDefault();
            let formData = new FormData();
            // same url as the form
            formData.append('company_name', $('#companyName').val());
            formData.append('kra_pin', $('#kra_pin').val());
            formData.append('email', $('#companyEmail').val());
            formData.append('phone_number', $('#companyPhone').val());
            formData.append('address', $('#companyAddress').val());
            formData.append('city', $('#companyCity').val());

            $('#updateCompany').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Saving...').prop('disabled', true);

            let id = $('#companyId').val();
            let company_name = $('#companyName').val();

            // add company name
            formData.append('company_name', company_name);


            $.ajax({
                headers: {
                    'X-CSRFToken': '{{csrf_token}}'
                },
                method: 'PUT',
                url: "{% url 'company:company' %}" + id + '/',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    $('#status').html('<div class="alert alert-success" role="alert">Company details saved successfully</div>')
                    //clear form
                    $('#companyForm').trigger('reset');
                    // reload in 3s
                    setTimeout(() => {
                        location.reload();
                    }, 3000);
                },
                error: function (data) {
                    // unable to save company details
                    $('#status').html('<div class="alert alert-danger" role="alert">An error occurred while saving company details</div>')
                }


            }).done(function () {
                $('#updateCompany').html('Update').prop('disabled', false);
            });
        });
        // on image change, show image preview
        $('#companyLogo').change(function (e) {
            // change default logo to uploaded image
            $('#defaultLogo').attr('src', URL.createObjectURL(e.target.files[0]));
        });
        // upload image button
        $('#uploadImageBtn').click(function () {
            var input = document.createElement('input');
            input.type = 'file';
            document.body.appendChild(input); // Append the input element to the document
            input.style.display = 'none'; // Hide the input element
            input.click();
            input.onchange = e => {
                // change default logo to uploaded image
                $('#logo').attr('src', URL.createObjectURL(e.target.files[0]));
                // change icon to upload
                $('#uploadImageBtn').html('<i class="fas fa-upload"></i>');
                setTimeout(() => {
                    // loading upload button
                    $('#uploadImageBtn').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Uploading...');

                    $('#uploadImageBtn').prop('disabled', true);
                    var data = new FormData();
                    data.append('logo', e.target.files[0]);


                    $.ajax({
                        processData: false,
                        contentType: false,
                        enctype: 'multipart/form-data',
                        headers: {
                            'X-CSRFToken': '{{csrf_token}}'
                        },
                        url: "{% url 'company:company_id' id=company.id%}",
                        type: 'PUT',
                        data: data,
                        success: function (data) {

                            $('#status').html('<div class="alert alert-success" role="alert">Company details saved successfully</div>')
                            //clear form
                            $('#companyForm').trigger('reset');
                            // reload in 3s
                            setTimeout(() => {
                                location.reload();
                            }, 3000);

                        },
                        error: function (data) {
                            // unable to save company details
                            $('#status').html('<div class="alert alert-danger" role="alert">An error occurred while saving company details</div>')

                        }

                    }).done(function () {
                        // enable upload button
                        $('#uploadImageBtn').prop('disabled', false);
                        // change icon to select image
                        $('#uploadImageBtn').html('Select Image');
                    });
                }, 1000);

            }


        });

    })



</script>
{%endblock content%}