{%extends 'pos/base.html'%}
{% load static %}
{% block title %}{{expense.expense_name}}{% endblock %}
{%block heading%}{{expense.expense_name}}{%endblock%}
{% block content %}
<div class="ml-2 mb-3">
    <a href="{%url 'expenses:index'%}">
        <button type="button" class="btn btn-primary font-weight-bold">
            <i class="ti ti-arrow-left"></i>
            Back
        </button>
    </a>
</div>
<div class="card ml-2">
    <div class="card-body">
        <form action="/expenses/api/expenses/{{expense.id}}/" id="expense_form">
            <!--expense_name, expense_description, category, amount-->
            {%csrf_token%}
            <div class="form-group">
                <label for="expense_name">Expense Name</label>
                <input type="text" class="form-control" id="expense_name" name="expense_name"
                    value="{{expense.expense_name}}" required>
            </div>
            <div class="form-group">
                <label for="expense_description">Expense Description</label>
                <textarea class="form-control" id="expense_description" name="expense_description"
                    required>{{expense.expense_description}}</textarea>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" id="category" name="category" required>
                    <option value="">Select Category</option>
                    {%for category in categories%}
                    <option value="{{category.id}}" {% if category.id == expense.category.id %} selected {% endif %}>
                        {{category.category_name}}</option>
                    {%endfor%}
                </select>
            </div>
            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="number" class="form-control" id="amount" name="amount" value="{{expense.amount}}" required>
            </div>
            <button type="submit" class="btn btn-success mt-3" id="save">Save</button>


        </form>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#expense_form').submit(function (e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            var data = form.serialize();

            $.ajax({
                type: 'PATCH',
                url: url,
                data: data,
                headers: {
                    'X-CSRFToken': '{{csrf_token}}'
                },
                success: function (response) {
                    toastr.success('Expense updated successfully!');
                },
                error: function (xhr, status, error) {
                    var errorMessage = xhr.responseJSON ? xhr.responseJSON.error : 'An error occurred while updating the expense.';
                    toastr.error(errorMessage, 'Error', {
                        "closeButton": true,
                        "progressBar": true,
                    });


                }
            }).done(function () {
                $('#save').html('Save').attr('disabled', false);
            });
        });
    });
</script>
{%endblock content%}