{%extends 'pos/base.html'%}
{% load static %}
{% block title %}Expense Categories{% endblock %}
{%block heading%}Expenses Categories{%endblock%}
{% block content %}



<div class="ml-3 mb-3">
    <a href="{%url 'expenses:index'%}">
        <button type="button" class="btn btn-primary font-weight-bold">
            <i class="ti ti-arrow-left"></i>
            Back
        </button>
    </a>

    <a>
        <button type="button" class="btn btn-success font-weight-bold" id="add_expense">
            <i class="ti ti-plus"></i>
            Add Expense Category
        </button>
    </a>
</div>

<div class="card ml-3">
    <div class="card-body">
        <div id="alerts"></div>
        {% if categories %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Category Name</th>
                        <th>Description</th>
                        <th>Recurring</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{category.category_name}}</td>
                        <td>{{category.category_description}}</td>
                        <td>{%if category.is_recurring%}
                            <span class="badge badge-success">Yes</span>
                            {%else%}
                            <span class="badge badge-danger">No</span>
                            {%endif%}
                        </td>

                        <td>
                            <a class="btn btn-primary btn-sm edit" data-id="{{category.id}}"
                                data-category_name="{{category.category_name}}"
                                data-category_description="{{category.category_description}}"
                                {%if category.is_recurring%} data-is_recurring="1" {%else%} data-is_recurring="0"
                                {%endif%}>
                                <i class="ti ti-pencil" data-id="{{category.id}}"
                                    data-category_name="{{category.category_name}}"
                                    data-category_description="{{category.category_description}}"
                                    {%if category.is_recurring%} data-is_recurring="1" {%else%} data-is_recurring="0"
                                    {%endif%}></i>
                            </a>
                            <a class="btn btn-danger btn-sm delete" data-id="{{category.id}}"
                                data-category_name="{{category.category_name}}">
                                <i class="ti ti-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">
            <strong>Warning!</strong> No expense categories found.
        </div>
        {% endif %}


    </div>
</div>
<script>
    $(document).ready(function () {
        $('#delete_category').click(function () {
            var id = $('#category_id_').val();
            // loading spinner
            $('#delete_category').html('<i class="fa fa-spinner fa-spin"></i> Deleting...');
            $.ajax({
                type: 'DELETE',
                url: `?id=${id}`,
                headers: {
                    'X-CSRFToken': '{{csrf_token}}'
                },
                success: function (response) {
                    if (response.status == "success") {
                        $('#alerts').html(
                            '<div class="alert alert-success alert-dismissible fade show" role="alert">' +
                            '<strong>Success!</strong> Expense category deleted successfully.' +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                            '<span aria-hidden="true">&times;</span>' +
                            '</button>' +
                            '</div>'
                        );
                        // 2 seconds after
                        setTimeout(function () {
                            location.reload();
                        }, 2000);
                    } else {
                        $('#alerts').html(
                            '<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                            '<strong>Error!</strong> ' + response.error +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                            '<span aria-hidden="true">&times;</span>' +
                            '</button>' +
                            '</div>'
                        );
                    }
                    $('#deleteExpenseCategoryModal').modal('hide');
                },
                error: function (response) {
                    $('#alerts').html(
                        '<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                        '<strong>Error!</strong> ' + response +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                        '<span aria-hidden="true">&times;</span>' +
                        '</button>' +
                        '</div>'
                    );
                }
            });
        });
        $('#dataTable').DataTable();
        $('.close_edit').click(function () {
            $('#editExpenseCategoryModal').modal('hide');
        });
        $('#edit_expense_form').submit(function (e) {
            e.preventDefault();
            $('#save_category_').html('<i class="fa fa-spinner fa-spin"></i> Updating...');
            var category_name = $('#_category_name').val();
            var category_description = $('#_category_description').val();
            var is_recurring = $('#_is_recurring').val();
            var id = $('#_category_id').val();
            var data = {
                'category_name': category_name,
                'category_description': category_description,
                'is_recurring': is_recurring,
                'id': id
            };
            $.ajax({
                type: 'PUT',
                url: `?id=${id}`,
                headers: {
                    'X-CSRFToken': '{{csrf_token}}'
                },
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function (response) {
                    if (response.status == "success") {
                        $('#alerts').html(
                            '<div class="alert alert-success alert-dismissible fade show" role="alert">' +
                            '<strong>Success!</strong> ' + response.category.category_name + ' updated successfully.' +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                            '<span aria-hidden="true">&times;</span>' +
                            '</button>' +
                            '</div>'
                        );
                        // 2 seconds after
                        setTimeout(function () {
                            location.reload();
                        }, 2000);
                    } else {
                        $('#alerts').html(
                            '<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                            '<strong>Error!</strong> ' + response.error +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                            '<span aria-hidden="true">&times;</span>' +
                            '</button>' +
                            '</div>'
                        );
                    }
                    $('#editExpenseCategoryModal').modal('hide');
                },
                error: function (response) {
                    $('#alerts').html(
                        '<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                        '<strong>Error!</strong> ' + response +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                        '<span aria-hidden="true">&times;</span>' +
                        '</button>' +
                        '</div>'
                    );
                }

            }).done(function () {
                $('#save_category_').html('<i class="fa fa-save"></i> Save');

                ;
            });
        })

    })
    $('.edit').click(function () {
        $('#editExpenseCategoryModal').modal('show');
        $('#_category_name').val($(this).data('category_name'));
        $('#_category_description').val($(this).data('category_description'));
        $('#_is_recurring').val($(this).data('is_recurring'));
        $('#_category_id').val($(this).data('id'));


    })
    $('.delete').click(function () {
        $('#deleteExpenseCategoryModal').modal('show');
        $('#category_name_').html($(this).data('category_name'));
        $('#category_id_').val($(this).data('id'));
    });
    $('.close_delete').click(function () {
        $('#deleteExpenseCategoryModal').modal('hide');
    });

    $('.close_add').click(function () {
        $('#addExpenseCategoryModal').modal('hide');
    });
    $('#add_expense').click(function () {
        $('#addExpenseCategoryModal').modal('show');
    });
    $('#add_expense_form').submit(function (e) {
        e.preventDefault();
        $('#save_category').html('<i class="fa fa-spinner fa-spin"></i> Saving...');

        var form = $(this);
        var url = form.attr('action');

        $.ajax({
            type: 'POST',
            headers: {
                'X-CSRFToken': '{{csrf_token}}'
            },
            url: '',
            data: JSON.stringify({
                'category_name': $('#category_name').val(),
                'category_description': $('#category_description').val(),
                'is_recurring': $('#is_recurring').val()

            }),
            contentType: 'application/json',
            success: function (response) {
                if (response.status == "success") {
                    $('#alerts').html(
                        '<div class="alert alert-success alert-dismissible fade show" role="alert">' +
                        '<strong>Success!</strong> ' + response.category.category_name + ' added successfully.' +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                        '<span aria-hidden="true">&times;</span>' +
                        '</button>' +
                        '</div>'
                    );
                    // 2 seconds after
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                } else {
                    $('#alerts').html(
                        '<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                        '<strong>Error!</strong> ' + response.error +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                        '<span aria-hidden="true">&times;</span>' +
                        '</button>' +
                        '</div>'
                    );
                }

                $('#addExpenseCategoryModal').modal('hide');

            },
            error: function (response) {
                $('#alerts').html(
                    '<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                    '<strong>Error!</strong> ' + response +
                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                    '<span aria-hidden="true">&times;</span>' +
                    '</button>' +
                    '</div>'
                );


            }

        }).done(function () {
            $('#save_category').html('<i class="fa fa-save"></i> Save');
        });

    });


</script>
{%endblock content%}