{%extends 'pos/base.html'%}
{% load static %}
{% block title %}Create new expense category{% endblock %}
{%block heading%}New Expense category{%endblock%}
{% block content %}
<div class="ml-2 mb-3">
    <a href="{%url 'expenses:index'%}">
        <button type="button" class="btn btn-primary font-weight-bold">
            <i class="ti ti-arrow-left"></i>
            Back
        </button>
    </a>
</div>

<div class="card ml-2">
    <div class="card-body">

        <form action="/api/expense-category/" method="post" id="category_form">
            {% csrf_token %}
            <!--category_name, category_description , is_recurring-->
            <div class="form-group">
                <label for="category_name">Category Name</label>
                <input type="text" class="form-control" id="category_name" name="category_name" required>
            </div>
            <div class="form-group">
                <label for="category_description">Category Description</label>
                <textarea class="form-control" id="category_description" name="category_description"
                    required></textarea>

            </div>
            <!--Switch-->

            <div class="form-check form-switch ml-3">
                <input class="form-check-input" type="checkbox" role="switch" id="is_recurring" name="is_recurring">
                <label class="form-check-label" for="is_recurring">
                    Is Recurring?
                </label>
            </div>
            <button type="submit" class="btn btn-success mt-3" id="save">Save</button>

        </form>


    </div>
</div>
<div class="error_toast mt-3" style="display: none;">
    <div class="toast-container position-fixed bottom-0 start-50 translate-middle end-0 p-3 ">
        <div id="liveToast" class="toast" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class="ti ti-exclamation-mark"></i>
                <strong class="me-auto">Ultimate POS</strong>
                <small>Now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" id="toast_body">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#category_form").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            $('#save').html('<i class="fa fa-spinner fa-spin"></i> Saving...').attr('disabled', true);
            var url = form.attr('action');
            var data = {
                category_name: $('#category_name').val(),
                category_description: $('#category_description').val(),
                is_recurring: $('#is_recurring').is(':checked')
            };
            // post and show toast
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                headers: {
                    'X-CSRFToken': '{{csrf_token}}'
                },
                success: function (response) {
                    $('#save').html('Save').attr('disabled', false);
                    $('#category_name').val('');
                    $('#category_description').val('');
                    $('#is_recurring').prop('checked', false);
                    $('#toast_body').html('Category created successfully');
                    $('.error_toast').css('display', 'block')
                    var toast = new bootstrap.Toast(document.getElementById('liveToast'), {
                        autohide: true,
                        delay: 5000,
                    });
                    toast.show();
                },
                error: function (response) {
                    $('#save').html('Save').attr('disabled', false);
                    $('#toast_body').html('Error creating category');
                    $('.error_toast').css('display', 'block')
                    var toast = new bootstrap.Toast(document.getElementById('liveToast'), {
                        autohide: true,
                        delay: 5000,
                    });
                    toast.show();
                }
            });

        });
    });
</script>
{%endblock content%}