{%extends 'pos/base.html'%}
{% load static %}
{% block title %}Create new expense{% endblock %}
{%block heading%}New Expense{%endblock%}
{% block content %}
<div class="ml-2 mb-3">
    <div class="btn-group">
        <a href="{%url 'expenses:index'%}" class="btn btn-primary font-weight-bold">
            <i class="ti ti-arrow-left"></i>
            Back
        </a>

        <a class="btn btn-success font-weight-bold" href="{%url 'expenses:add_expense_category'%}">
            <i class="ti ti-plus"></i>
            Add Expense Category
        </a>
    </div>
</div>

<div class="card ml-2">
    <div class="card-body">
        <form action="/expenses/api/expenses/" id="expense_form">
            <!--expense_name, expense_description, category, amount-->
            {%csrf_token%}
            <div class="form-group">
                <label for="expense_name">Expense Name</label>
                <input type="text" class="form-control" id="expense_name" name="expense_name" required>
            </div>
            <div class="form-group">
                <label for="expense_description">Expense Description</label>
                <textarea class="form-control" id="expense_description" name="expense_description" required></textarea>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" id="category" name="category" required>
                    <option value="">Select Category</option>
                    {%for category in categories%}
                    <option value="{{category.id}}">{{category.category_name}}</option>
                    {%endfor%}
                </select>
            </div>
            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="number" class="form-control" id="amount" name="amount" required>
            </div>
            <button type="submit" class="btn btn-success mt-3" id="save">Save</button>

        </form>


    </div>
</div>

<script>
    $(document).ready(function () {
        $("#expense_form").submit(function (e) {
            e.preventDefault();
            var form = $(this);
            $('#save').html('<i class="fa fa-spinner fa-spin"></i> Saving...').attr('disabled', true);
            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: form.serialize(),
                success: function (response) {
                    toastr.success('Expense created successfully!', 'Success', {
                        "closeButton": true,
                        "progressBar": true,
                    });
                    // reset form
                    form[0].reset();

                },
                error: function (xhr, status, error) {

                    var errorMessage = xhr.responseJSON ? xhr.responseJSON.error : 'An error occurred while creating the expense.';
                    toastr.error(errorMessage, 'Error', {
                        "closeButton": true,
                        "progressBar": true,
                    });

                }
            }).done(function () {
                $('#save').html('Save').attr('disabled', false);
            });
        });
    });

</script>
{%endblock content%}