{%extends 'pos/base.html'%}
{% load static %}
{% block title %}Accounts{% endblock %}
{%block heading%}Accounts{%endblock%}
{% block content %}
<div class="ml-2 mb-3">
    <a href="{%url 'pos:index'%}">
        <button type="button" class="btn btn-primary font-weight-bold">
            <i class="ti ti-arrow-left"></i>
            Back
        </button>
    </a>
    <a>
        <button type="button" class="btn btn-success font-weight-bold ml-2">
            <i class="ti ti-plus"></i>
            Add User
        </button>
    </a>
</div>
<div class="card ml-2">
    <div class="card-body">

        <div class="table-responsive">
            <table id="dataTable" class="table table-striped table-bordered no-wrap">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <a href="" class="btn btn-primary">
                                <i class="ti ti-edit"></i>
                            </a>
                            <a href="" class="btn btn-danger">
                                <i class="ti ti-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    })
</script>
{%endblock content%}