{%extends 'pos/base.html'%}
{%load static%}
{%block title%}
{{request.user.username}}
{%endblock title%}
{%block heading%}
Profile
{%endblock heading%}
{%block content%}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Profile</h5>
    </div>
    <div class="card-body">
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
                            class="rounded-circle mt-5" width="150px"
                            src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                            class="font-weight-bold">{{request.user.username}}</span><span
                            class="text-black-50">{{request.user.email}}</span><span> </span></div>
                </div>


                <div class="col-md-9">
                    <div class="messages"></div>


                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>
                        <form method="post" id="update_profile">
                            {%csrf_token%}
                            <div class="row mt-2">
                                <div class="col-md-6"><label class="labels">First Name</label><input type="text"
                                        class="form-control" placeholder="{{request.user.first_name}}" id="first_name"
                                        name="first_name"></div>
                                <div class="col-md-6"><label class="labels">Last Name</label><input type="text"
                                        class="form-control" name="last_name" id="last_name"
                                        placeholder="{{request.user.last_name}}"></div>
                            </div>
                            <div class="row mt-3">

                                <div class="col-md-12"><label class="labels">Email</label><input type="text"
                                        class="form-control" placeholder="{{request.user.email}}" id="email"
                                        name="email">
                                </div>

                            </div>

                            <div class="mt-5 text-right">
                                <button class="btn btn-success profile-button" type="submit" id="save">
                                    <i class="fa fa-save"></i>
                                    Save Profile
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $('#update_profile').submit(function (e) {
            e.preventDefault();
            // save btn loading
            $('#save').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Saving...').attr('disabled', true);
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: {
                    first_name: $('#first_name').val(),
                    last_name: $('#last_name').val(),
                    email: $('#email').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (data) {
                    console.log(data);
                    //  {"message": "Profile updated successfully", "status": "Ok"}, status=200
                    if (data.status === 'Ok') {
                        $('.messages').append('<div class="alert alert-success d-flex align-items-center" role="alert" id="message_1"><div class="row"><div class="col-md-10">' + data.message + '</div><div class="col-md-2"><button onclick="hideMessage(1)" class="btn btn-success"><i class="bi bi-x"></i></button></div></div></div>');
                    } else {
                        $('.messages').append('<div class="alert alert-danger d-flex align-items-center" role="alert" id="message_1"><div class="row"><div class="col-md-10">' + data.message + '</div><div class="col-md-2"><button onclick="hideMessage(1)" class="btn btn-danger"><i class="bi bi-x"></i></button></div></div></div>');
                    }
                    // remove message after 5 seconds
                    setTimeout(function () {
                        $('#message_1').remove();
                    }, 5000);
                },
                error: function (data) {
                    console.log(data);
                    console.log('error');
                }
            }).done(function () {
                // save btn reset
                $('#save').html('Save Profile').attr('disabled', false);
            });
        });
    });
</script>
{%endblock content%}