{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Ultimate POS - Login</title>


  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="{%static 'css/styles.min.css'%}" />




</head>

<body class="d-flex align-items-center py-4 bg-body-tertiary">

  <main class="form-signin w-100 m-auto">
    <form action="" method="post" id="login_form">
      {% csrf_token %}
      <img class="mb-4 text-center" src="{%static 'img/logos/favicon.png'%}" alt="UltimatePOS Logo" width="150"
        height="150">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      {% if form.errors %}
      <div class="card-body">

        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          Your username and password didn't match any account. Please try again.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

      </div>
      {% endif %}
      <div id="loading" class="text-center"></div>
      <div class="form-floating">
        <input class="form-control" id="username" placeholder="your username" name="username" required>
        <label for="username">Username</label>
      </div>
      <div class="form-floating mt-2">
        <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
        <label for="password">Password</label>
      </div>

      <input type="hidden" name="next" value="{{ next }}">


      <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>

    </form>

  </main>

  <script src="{%static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'js/color-modes.js' %}"></script>




</body>

</html>