{% extends "pos/base.html" %}
{%load static%}
{% block title %}Add customer{% endblock title %}
{% block stylesheets %}{% endblock stylesheets %}
{% block heading %}Add customer{% endblock heading %}
{% block content %}
<!--Go back-->
<div class="row ml-0 mb-3">
    <div class="ml-auto">
        <a href="{% url 'customers:customers_list' %}" class="col">
            <button type="button" class="btn btn-success font-weight-bold">
                <i class="fas fa-long-arrow-alt-left mr-2"></i>
                Go back
            </button>
        </a>
        <!--Import Customers-->
        <!--TODO: Add upload customers functionality-->
        <a href="{% url 'customers:customers_list' %}" class="col">
            <button type="button" class="btn btn-success font-weight-bold ml-2">
                <i class="fas fa-file-upload mr-2"></i>
                Import customers
            </button>
        </a>
    </div>
</div>
<!--Error, success-->
<div class="row">
    <div class="col-md-10" id="status">

    </div>
</div>

<!--Tabs for customer info, VAT Settings, Photo-->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="customer-tab" data-toggle="tab" href="#customer" role="tab"
            aria-controls="customer" aria-selected="true">Bio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="vat-tab" data-toggle="tab" href="#vat" role="tab" aria-controls="vat"
            aria-selected="false">VAT Settings</a>
    </li>

</ul>



<div class="row mb-4">
    <div class="card col-md-10 tab-content mt-3 ml-2">
        <!--Customer tab-->
        <div class="tab-pane fade show active" id="customer" role="tabpanel" aria-labelledby="customer-tab">
            <div class="card-body pl-3">
                <form action="{% url 'customers:customers_add' %}" method="post" enctype="multipart/form-data"
                    id="customer_form">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-group col-md-10">
                                <label for="inputDescription">First Name</label>
                                <input type="text" class="form-control" name="first_name" placeholder="John..."
                                    required>
                            </div>
                            <div class="form-group col-md-10">
                                <label for="inputDescription">Last Name</label>
                                <input type="text" class="form-control" name="last_name" placeholder="Doe..." required>
                            </div>
                        </div>
                        <!--Image-->
                        <div class="form-group col-md-4 items-end">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <img src="{% static 'img/undraw_profile.svg' %}" alt="Customer photo"
                                        class="img-thumbnail ml-2" width="200" height="200" id="customer_photo">
                                </div>
                                <div class="form-group col-md-6">

                                    <div class="mb-3 ml-3">
                                        <label for="photo" class="form-label">Photo</label>
                                        <input class="form-control form-control-lg btn" type="file" id="photo"
                                            name="photo">
                                    </div>




                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputDescription">Email</label>
                            <input type="email" name="email" class="form-control" placeholder="johndoe@gmail.com">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputDescription">Phone number</label>
                            <input type="text" name="phone" class="form-control" placeholder="(412) 727-2736">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputDescription">Address</label>
                            <textarea name="address" class="form-control"
                                placeholder="5340 Brett Dr #A Fort Knox, Kentucky(KY), 40121 ..." rows="2"></textarea>
                        </div>
                    </div>


                    <!--Next btn -> switch to vat tab-->
                    <!--Next icon-->
                    <a class="btn btn-success font-weight-bold" id="vat-tab-btn">
                        Next
                        <i class="fas fa-arrow-right mr-2"></i>

                    </a>


            </div>
        </div>
        <!--VAT tab-->
        <div class="tab-pane fade" id="vat" role="tabpanel" aria-labelledby="vat-tab">
            <div class="card-body">


                <div class="form-row">
                    <div class="form-group col-md-12">

                        <label for="inputDescription">KRA PIN</label>
                        <!-- caps -->
                        <input type="text" class="form-control text-uppercase" name="kra_pin"
                            placeholder="KRA PIN for tax returns filing">
                    </div>
                </div>


                <button type="submit" class="btn btn-success font-weight-bold" id="submit_btn">
                    Create customer
                </button>
                </form>
            </div>
        </div>
        </form>

    </div>
</div>
<script>
    $(document).ready(function () {
        $('#vat-tab-btn').click(function () {
            $('#vat-tab').tab('show');
        });
        // set tab active
        $('#vat-tab-btn').click(function () {
            $('#vat-tab').addClass('active');
        }
        );
        // override #customer_form submit
        $('#customer_form').submit(function (e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            var formData = new FormData(form[0]);
            // button spinner
            $('#submit_btn').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Creating customer...');
            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    // check if status is error or success
                    if (data.status == 'error') {
                        // display error message with a close button to close the alert
                        let error = '<div class="alert alert-danger alert-dismissible" role="alert">' + data.message + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>';
                        $('#status').html(error);

                    } else {
                        // display success message  with a close button to close the alert
                        let success = '<div class="alert alert-success alert-dismissible" role="alert">' + data.message + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>';
                        $('#status').html(success);

                        // reset form
                        form[0].reset();
                        // reset photo
                        $('#customer_photo').attr('src', '{% static "img/undraw_profile.svg" %}');
                    }

                },
                error: function (data) {
                    // unknown error
                    let error = '<div class="alert alert-danger alert-dismissible" role="alert">An error occurred. Please try again later.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>';
                    $('#status').html(error);

                }
            }).done(function () {
                // reset button text
                $('#submit_btn').html('Create customer');

            });
        });
    });
    // replace photo on file selection
    $('#photo').change(function () {
        var i = $(this).prev('label').clone();
        var file = $('#photo')[0].files[0].name;
        $(this).prev('label').text(file);
        // set customer photo with a width of 100 and height of 100
        $('#customer_photo').attr('src', URL.createObjectURL(this.files[0]));
    });


</script>

{% endblock content %}