{% extends "pos/base.html" %}
{% load static %}
{% block title %}Customers{% endblock title %}
{% block stylesheets %}
{% endblock stylesheets %}
{% block heading %}Customers{% endblock heading %}
{% block content %}

<div class="ml-2 mb-3">
    <a href="{% url 'customers:customers_add' %}">
        <button type="button" class="btn btn-success font-weight-bold">
            <i class="ti ti-plus"></i>
            Create new customer
        </button>
    </a>
</div>


<div class="card shadow ml-2">
    <div class="card-body">
        <div class="text-center" id="result">
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="dataTable" style="width: 100%;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>#</th>
                        <th>Name</th>
                        <th>KRA PIN</th>
                        <th>Email</th>
                        <th>Phone</th>

                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in customers %}
                    <tr id="{{c.id}}">
                        <td>{{c.id}}</td>
                        <td>{{forloop.counter}}</td>
                        <td>
                            <a href="{%url 'customers:customer_profile' c.id%}" data-bs-toggle="tooltip"
                                title="View customer details">{{c.get_full_name}}</a>
                        </td>
                        {%if c.kra_pin%}
                        <td>{{c.kra_pin}}</td>
                        {%else%}
                        <td>-</td>
                        {%endif%}
                        {%if c.email%}
                        <td>{{c.email}}</td>
                        {%else%}
                        <td>-</td>
                        {%endif%}
                        {%if c.phone%}
                        <td>{{c.phone}}</td>
                        {%else%}
                        <td>-</td>
                        {%endif%}

                        <td>

                            <div class="btn-group">
                                <a href="{% url 'customers:customers_update' c.id %}"
                                    class="text-decoration-none btn btn-warning btn-sm" data-bs-toggle="tooltip"
                                    title="Update customer">

                                    <i class="ti ti-pencil"></i>

                                </a>

                                <a class="text-decoration-none btn btn-danger btn-sm" data-bs-toggle="tooltip"
                                    title="Delete customer">

                                    <i class="ti ti-trash"></i>

                                </a>
                            </div>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete customer
                    <i class="ti ti-exclamation text-danger ml-2"></i>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="updateThisText" class="modal-body">
                Are you sure you want to delete the customer? This action is irreversible.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger del" data-id="">Delete</button>

            </div>
        </div>
    </div>
</div>
<script>
    function setModalid(id) {
        $('.del').attr('data-id', id);
    }
    // Call the dataTables jQuery plugin
    $(document).ready(function () {
        let tblCategories = $('#dataTable').DataTable({
            dom: 'Bfrtip', // Buttons are draw at this element
            buttons: [
                {
                    extend: 'print',
                    text: 'Print <i class="ti ti-file ml-2"></i>',
                    titleAttr: 'Print',
                    className: 'btn btn-info',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    }
                },
                {
                    extend: 'excelHtml5',
                    text: 'Download Excel <i class="ti ti-file-excel ml-2"></i>',
                    titleAttr: 'Download Excel',
                    className: 'btn btn-success ml-2',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    text: 'Download PDF <i class="ti ti-file-pdf ml-2"></i>',
                    titleAttr: 'Download PDF',
                    className: 'btn btn-danger ml-2',
                    download: 'open',
                    orientation: 'vertical',
                    pageSize: 'A4',
                    title: '*',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    },
                    customize: function (doc) {
                        doc.styles = {
                            header: {
                                fontSize: 18,
                                bold: true,
                                alignment: 'center'
                            },
                            subheader: {
                                fontSize: 13,
                                bold: true
                            },
                            quote: {
                                italics: true
                            },
                            small: {
                                fontSize: 8
                            },
                            tableHeader: {
                                bold: true,
                                fontSize: 11,
                                color: 'white',
                                fillColor: '#2d4154',
                                alignment: 'center'
                            }
                        };
                        doc.content[1].table.widths = ['10%', '10%', '30%', '30%', '20%'];
                        doc.content[1].margin = [0, 35, 0, 0];
                        doc.content[1].layout = {};
                        doc['footer'] = (function (page, pages) {
                            return {
                                columns: [
                                    {
                                        alignment: 'left',
                                        text: ['Creation date: ', { text: moment().format('MM-DD-YYYY (HH:mm:ss)') }]
                                    },
                                    {
                                        alignment: 'right',
                                        text: ['page ', { text: page.toString() }, 'of ', { text: pages.toString() }]
                                    }
                                ],
                                margin: 20
                            }
                        });

                    }
                }
            ],
            deferRender: true,
            columnDefs: [
                {
                    targets: [0],
                    visible: false,
                    searchable: true,
                },
                {
                    targets: [-1], // column index (start from 0)
                    orderable: false, // set order able false for selected columns
                }
            ],
        });
    });
    // configure ajax headers
    $.ajaxSetup({
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        }
    });
    // on delete button click
    $(document).on('click', '.del', function () {
        let id = $(this).data('id');
        let url = "{% url 'customers:customers_delete' 1000000000 %}".replace('1000000000', id);
        // add spinner to the button
        $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Deleting...');
        $.ajax({
            url: url,
            type: 'DELETE',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            success: function (data) {
                // if status is success
                if (data.status === 'success') {
                    // remove the row from the table
                    $('#' + id).remove();

                    ;

                    // show success message with a close btn
                    $("#result").html('<div class="alert alert-success alert-dismissible fade show" role="alert">' +
                        '<strong>Success!</strong> ' + data.message +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                        '<span aria-hidden="true">&times;</span>' +
                        '</button>' +
                        '</div>')

                }
                else {
                    // show error message with a close btn
                    $("#result").html('<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                        '<strong>Error!</strong> ' + data.message +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                        '<span aria-hidden="true">&times;</span>' +
                        '</button>' +
                        '</div>')
                }
            },
            error: function () {


                // error alert with a close btn, unknown error
                $("#result").html('<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                    '<strong>Error!</strong> An unknown error occurred. Please try again later.' +
                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                    '<span aria-hidden="true">&times;</span>' +
                    '</button>' +
                    '</div>')
            }


        }).done(function (data) {
            $('.close').click();
            // remove spinner from the button

            $(this).html('Delete');
        });
    });

</script>
{% endblock content %}